/*tablets*/
@media screen and (min-width: 768px) and (max-width: 1023px) {
    .menu-container.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links nav {
        display: none;
    }

    .nav-links {
        width: 100px;
    }

    .logo {
        max-width: 30%;
        height: 100%;
        padding: 0px;
        cursor: pointer;
    }

    #logo1 {
        display: none;
    }

    #logo2 {
        display: flex;
    }

    .burger {
        display: block;
    }

    .nav-container {
        left: 0;
        width: 95%;
    }

    .menu-container {
        display: flex;
    }

    .search-conteiner {
        display: none;
    }

    .dropdown-menu {
        display: none;
    }

    .lang {
        display: none;
    }

    .hero-section {
        height: 90vh;
        width: 100%;
    }

    .baner-cards {
        height: 90vh;
        overflow: hidden;
        border-bottom-right-radius: 200px;

        img {
            object-position: 70% center;
        }
    }

    .card-baner .txt {
        padding: 20px;
    }

    .card-baner .txt h2 {
        line-height: 20px;
        font-size: 4rem;
        line-height: 80px;

    }

    .card-baner .txt p {
        font-size: 1rem;
        max-width: 100%;
    }

    .btn-saiba-mais {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .custom-selector {
        bottom: 90px;
    }

    .carousel-navigation {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        gap: 10px;
    }

    .carousel-navigation .arrow {
        width: 40px;
        height: 40px;
        padding: 8px;
        font-size: 1.2rem;
    }

    .titulo,
    .tituloA {
        font-size: 1.5rem;
        margin-left: 1rem;
    }

    .destaque-section {
        padding: 0;

        .card-overlay h3 {
            font-size: 1.4em;
        }
    }

    .carousel-container,
    .carousel-container-project {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 10px;
        padding: 10px 0;
        overflow: hidden;
        max-width: 100%;
    }

    .card,
    .card-project {
        width: 300px;
        height: 450px
    }

    .card.active,
    .card-project.active {
        width: 300px;
        height: 300px;
        transform: scale(1);
    }

    .destaque-section .carousel-container::after {
        top: -120px;
        left: -50px;
        width: 100%;
        height: 380px;
        border-top-right-radius: 240px;
        border-bottom-right-radius: 240px;
    }

    .sobre-section {
        margin-top: 2rem;
        padding: 1rem 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;


        .text-top,
        .text-bottom {
            padding: 10px 20px;
            font-size: 0.7em;
            line-height: 1.2;
        }

        .text-top {
            width: 85%;
            bottom: -20px;
            right: -30px;
        }

        .text-bottom {
            width: 100%;
            bottom: 0;
            padding: 10px;
        }

        .content-block::after {
            display: none;

        }

        .sobre-container {
            margin-top: 2rem;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding: 1rem 2rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .content-grid {
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0;
        }

        .content-top,
        .content-bottom {
            height: auto;
            width: 100%;
            flex-direction: initial;

        }

        .sobre-container {
            margin-top: 2rem;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .icon-item {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            padding: 10px 0;
            width: 300px;
            margin: 20px;
        }

        .content-grid {
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0;
        }


    }

    .empresa-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 2rem;
        margin-top: 0;
    }

    .areas-section {
        height: 500px;
    }

    .areas-section .slider {
        display: flex;
        flex-direction: column;
        height: 100%;
        transition: .5s !important;
    }

    .areas-section .item {
        position: absolute;
        width: 250px;
        height: 320px;
        text-align: center;
        background-color: #fff;
        border-radius: 20px;
        transition: 0.5s;
        left: calc(50% - 110px);
        top: 0;
    }

    .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center
    }

    .areas-section .item h3 {
        font-size: 1.3em;
    }

    .swiper-pagination-slid,
    .carousel-navigation {
        display: none;
    }


    .projectos-section {
        border-radius: 0;
        padding: 0;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        .card {
            width: 100%;
            height: 180px;
        }

        .card.active {
            width: 100%;
            height: 280px;
            transform: scale(1);
        }

        .card-overlay {
            align-items: center;
            text-align: center;
        }

        .card-overlay h3 {
            font-size: 1.4em;
        }

        .card.active .card-overlay h3 {
            font-size: 1.5em;
        }

        .card-overlay .btn {
            font-size: 1em;
            padding: 6px 12px;
        }

        .carousel-navigation {
            display: none;
        }

    }

    .polis-section {
        height: 100vh;
    }

    .polis-section,
    .noticias-section {
        margin-top: -60px;

        .card-overlay {
            padding: 6rem 1rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
            color: var(--white);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        .logo-polis {
            width: auto;
            height: auto;
        }

        .text-polis {
            max-width: 60%;
        }

        .card-overlay h3 {
            margin: 0 0 10px 0;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .card-overlay .btn {
            font-size: 1.2em;
        }
    }

    .noticias-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 1rem;

        .category {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px 0;
            overflow: hidden;
            max-width: 100%;
        }

        .card-blog {
            width: 320px;
            height: 380px;
        }

        .card-blog section {
            a {
                font-size: 1.1rem;
            }
        }

        .card-blog section h4 {
            font-size: 1.2rem;
        }

        .card-blog section span {
            font-size: 1rem;
        }

    }

    .contactos-section {
        padding: 2rem 20px;

        .logo {
            width: 100%;
        }

        .contact-info {
            padding: 2rem;
            border-radius: 3rem
        }

        .contact-info h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .contact-info p {
            margin: 20px 0;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .contact-info i {
            margin-right: 10px;
        }

        .social h3 {
            margin-top: 30px;
            font-size: 1.7rem;
            line-height: 50px;
        }

        .social {
            padding: 40px 0;
        }

        .contact-form {
            width: 100%;
            margin-top: 30px;
            padding: 0rem;
        }

        .contact-form h1 {
            margin-bottom: 25px;
            font-size: 2rem;
        }


        .contact-form input,
        .contact-form textarea {
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #eee;
            font-size: 1rem;
            outline: none;

        }

        .contact-form textarea {
            min-height: 150px;
            min-width: 100%;
        }

        .submit-btn {
            padding: 15px;
            border: none;
            border-radius: 12px;
            background: var(--gradient);
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }

}

/*Mobile*/
@media (max-width: 768px) {
    header {
        top: 10px;
    }

    .logo {
        max-width: 50%;
        height: 100%;
        padding: 0px;
        align-self: flex-start;
        cursor: pointer;
    }

    #logo1 {
        display: none;
    }

    #logo2 {
        display: flex;
    }

    .loader-logo {
        width: 100%;
        flex-direction: column;
    }

    .burger {
        display: block;
    }

    #type-text {
        margin-left: 0px;
        margin-top: -120px;
    }

    .menu-container {
        .lang {
            display: flex;
            position: absolute;
            align-self: flex-end;
        }
    }

    .nav-links nav {
        display: none;
    }

    .nav-links {
        width: 80px;
        justify-content: center;
    }

    .nav-container {
        width: 97%;
    }

    .dropdown-menu {
        display: none;
    }

    .lang {
        display: none;
    }

    #search {
        width: 100%;
    }

    #searchNav {
        display: none;
    }

    .hero-section {
        height: 100vh;
    }

    .baner-cards {
        height: 100vh;
        overflow: hidden;
        border-bottom-right-radius: 200px;

        img {
            object-position: 80% center;
        }
    }

    .card-baner .txt {
        padding: 20px;
        max-width: 95%;
    }

    .card-baner .txt h2 {
        line-height: 20px;
        font-size: 3rem;
        line-height: 60px;
    }

    .card-baner .txt p {
        font-size: 1rem;
        max-width: 100%;
    }

    .btn-saiba-mais {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .custom-selector {
        bottom: 80px;
        height: 100%;
        flex-direction: column;
        right: 1rem;
        top: 0;
        width: auto;
    }

    .carousel-navigation {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        gap: 10px;
    }

    .carousel-navigation .arrow {
        width: 40px;
        height: 40px;
        padding: 8px;
        font-size: 1.2rem;
    }

    .titulo,
    .tituloA {
        font-size: 45px;
        margin-left: 0rem;
        margin-top: 1rem;
        width: 100%;
        text-align: center;
        justify-content: center;
    }

    .destaque-section {
        padding: 0;

        .card:not(.active) {
            display: none;
        }

        .card-overlay h3 {
            font-size: 25px;
        }
    }

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        overflow: hidden;
        max-width: 100%;
        height: 500px;
        padding: 10px 0;
    }

    .destaque-section .card {
        width: 85vw;
        height: 400px;
        opacity: 0.5;
        border-radius: 50px !important;
    }

    .card.active {
        opacity: 1;
        transform: scale(1.02) translateY(0px);
    }

    .destaque-section .carousel-container::after {
        top: -120px;
        left: -50px;
        width: 100%;
        height: 380px;
        border-top-right-radius: 240px;
        border-bottom-right-radius: 240px;
    }

    .header-text {
        align-self: center;
        width: 100%;
    }

    .sobre-section {
        margin-top: 5rem;
        padding: 1rem 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        .text-top,
        .text-bottom {
            padding: 10px 10px;
            font-size: 17px;
            line-height: 1.2;
        }

        .text-top {
            border-top-left-radius: 80px;
            border-bottom-left-radius: 80px;
            width: 100%;
            bottom: -20px;
            right: -20px;
            padding: 20px 30px;
        }

        .text-bottom {
            width: 100%;
            bottom: 0;
            top: -5px;
            padding: 20px;
        }

        .content-block::after {
            display: none;
        }

        .sobre-container {
            margin-top: 2rem;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }

        .center-span h1 {
            font-size: 1.5em;
        }

        .center-span p {
            margin: 0;
            font-size: 1.3em;
            color: #666;
        }

        .content-grid {
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0;
        }

        .content-top,
        .content-bottom {
            height: auto;
            width: 100%;
            flex-direction: initial;
            display: none;
        }

        text {
            font-size: 80px;
            position: relative;
        }

        .donut {
            width: 140px;
            height: 150px;
            margin-bottom: 10px;
        }

        .tit {
            bottom: 0%;
            font-size: 2rem;

        }

        .number {
            width: 100%;
            position: absolute;
            border-radius: 50px;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);

            z-index: 2;
            background-color: var(--bg-body);
        }

    }

    .sobre-container .numsection {
        position: sticky;
        border-radius: 50px;
        height: 400px;
        width: 100%;
        max-width: 1300px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        font-size: 1rem;
        transition: border-radius 0.2s;
        background-color: #f0f0f0;
    }

    .empresa-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 2rem;
        margin-top: 0;
        padding: 1rem 0;
        max-height: 600px;
    }

    .marquee .icon-empresa {
        width: 100px;
        height: 80px;
        padding: 5px;

        img {
            object-fit: contain;
        }
    }

    .areas-section {
        max-height: 600px;
        margin: 0;
        border: 1px solid red;
    }

    .item {
        width: 95vmin;
        height: 100vmin;
    }

    .image {
        width: 85vmin;
        height: 100vmin;
    }

    .projectos-section {
        border-radius: 0;
        padding: 1rem 0;
        height: auto;
        border-radius: 50px;
    }

    .carousel-container-project {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 15px;
        padding: 10px;
        overflow: hidden;
        max-width: 100%;
        padding: 10px 0;
    }

    .card-project {
        width: 90vw;
        height: 450px;
        opacity: 0.5;
        border-radius: 50px !important;
    }

    .card-project.active {
        opacity: 1;
        transform: scale(1.2) translateY(0px);
    }

    .card-project-overlay h3 {
        margin-top: 20px;
        font-size: 22px;
        font-weight: 400;
    }

    .projectos-section .carousel-navigation {
        display: none;
    }

    .polis-section {
        height: 90vh;

        .card-overlay {
            padding: 6rem 1.5rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
            color: var(--white);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        .logo-polis {
            width: auto;
            height: 100px;
            margin-top: 60px;
        }

        .text-polis {
            max-width: 100%;
        }

        .card-overlay h3 {
            margin: 0 0 10px 0;
            font-size: 1.1em;
            font-weight: 300;
        }

        .card-overlay .btn {
            font-size: 15px;
            position: relative;
        }
    }

    .noticias-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 1rem;
        margin-top: -80px;
        height: auto;

        .carousel-container-noticias {
            padding: 0;
            margin-top: 0;
            height: auto;
        }


        .card-blog {
            width: 85vw;
            height: 450px;
        }

        .card-blog:hover {
            transform: translateY(0);
        }

        .card-blog section {
            a {
                font-size: 1.1rem;
            }
        }

        .card-blog section h4 {
            font-size: 1.2rem;
        }

        .card-blog section span {
            font-size: 1rem;
        }

    }

    .contactos-section {
        padding: 2rem 20px;

        .logo-contact {
            width: 100%;
        }

        .contact-info {
            padding: 2rem;
            border-radius: 3rem;
        }

        .contact-info h2,
        h3,
        .contact-form h2 {
            font-size: 1.8rem;
            font-weight: 400;
            margin-bottom: 15px;
        }

        .contact-info p {
            margin: 20px 0;
            font-size: 1.2rem;
            font-weight: 200;
        }

        .contact-info i {
            margin-right: 10px;
        }

        .social h3 {
            margin-top: 30px;
            font-size: 1.7rem;
            line-height: 50px;
        }

        .social {
            padding: 10px 0;
        }

        .social a {
            margin: 0 0;
        }

        .contact-form {
            width: 100%;
            margin-top: 30px;
            padding: 0rem;
        }


        .contact-form input,
        .contact-form textarea {
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #eee;
            font-size: 1rem;
            outline: none;

        }

        .contact-form textarea {
            min-height: 150px;
            min-width: 100%;
        }

        .submit-btn {
            padding: 15px;
            border: none;
            border-radius: 12px;
            background: var(--gradient);
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }

    .logo-grupoP {
        position: absolute;
        bottom: 3rem;
        left: 1rem;
        width: 55%;
        height: 30%;
    }

    .grupo {
        padding: 0;
        margin: 0;
        width: 100%;
    }

    .grupo p {
        line-height: 1;
        width: 100%;
        padding: 0;
        font-size: 1rem;
        margin: 0;
    }

    footer {

        .bottom {
            .footer-top {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
                gap: 20px;
                margin-bottom: 0px;
                margin-left: 0px;
            }

            .footer-column {
                flex: 1 1 100px;
            }

            .coluna-dupla {
                column-gap: 10px;
            }

            .footer-column {
                padding-left: 0;
            }

            .logo-footer {
                margin-left: 0px;
            }

            .coluna-dupla li {
                margin-bottom: 5px;
            }

            .footer-column h4 {
                margin-bottom: 10px;
                font-size: 1.4rem;
                font-weight: 400;
            }

            .footer-column ul {
                list-style: none;
                padding: 0;
            }

            .footer-column ul li {
                margin-bottom: 10px;
                font-size: 1.1rem;
                font-weight: 200;
            }

            .termo {
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100%;

                & li {
                    margin-bottom: 10px;
                    font-size: 1rem !important;
                    font-weight: bold !important;
                }
            }
        }
    }
}

@media (max-width: 480px) {

    .card-baner .txt h2 {
        font-size: 2.8rem;
        line-height: 50px;
    }

    .card-baner .txt p {
        font-size: 0.9rem;
    }

    .titulo,
    .tituloA {
        padding: 1rem;
    }

    .text-top,
    .text-bottom {
        font-size: 1.1rem;
        padding: 1rem;
    }

    footer {
        & .bottom {
            .footer-column {
                padding-left: 0;
            }

            .logo-footer {
                margin-left: 0px;

            }
        }
    }
}