/*desktop*/
@media (max-width: 1024px) {

    .menu-container.active {
        display: flex;
    }

    .menu-toggle {
        display: flex;
    }

    .nav-links {
        display: flex;
        align-items: center;
        width: 100px;
    }

    nav {
        display: none;
    }

}
/*Mobile*/
@media (max-width: 767px) {
    header {
        top: 0;
    }

    .nav-container {
        height: auto;
        width: 95%;
        padding: 0.5rem;
    }

    .menu-container.active {
        display: flex;
    }

    .lang {
        display: none;
    }

    .hero-section {
        height: 90vh;
    }

    .baner-cards {
        height: 90vh;
        overflow: hidden;
        border-bottom-right-radius: 200px
    }

    .card-baner .txt {
        padding: 20px;
        bottom: 0px;
    }

    .card-baner .txt h2 {
        line-height: 20px;
    }

    .card-baner .txt p {
        font-size: 1rem;
        max-width: 100%;
    }

    .btn-saiba-mais {
        font-size: 1rem;
        padding: 12px 20px;
    }

    .custom-selector {
        bottom: 90px;
    }

    .carousel-navigation {
        width: 100%;
        justify-content: space-around;
        margin-top: 10px;
        gap: 10px;
    }

    .carousel-navigation .arrow {
        width: 40px;
        height: 40px;
        padding: 8px;
        font-size: 1.2rem;
    }

    .titulo {
        font-size: 1.5rem;
        margin-left: 1rem;

    }

    .destaque-section {
        padding: 0;

        .carousel-container {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px 0;
            overflow: hidden;
            max-width: 100%;

        }

        .card {
            width: 300px;
            height: 280px;
        }

        .card.active {
            width: 300px;
            height: 300px;
            transform: scale(1);
        }

        .card-overlay h3 {
            font-size: 1.4em;
        }
    }

    .destaque-section .carousel-container::after {
        top: -120px;
        left: -50px;
        width: 100%;
        height: 380px;
        border-top-right-radius: 240px;
        border-bottom-right-radius: 240px;
    }

    .sobre-section {
        margin-top: 2rem;
        padding: 1rem 0;
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;

        .text-top,
        .text-bottom {
            padding: 10px 20px;
            font-size: 0.7em;
            line-height: 1.2;
        }

        .text-top {
            width: 85%;
            bottom: -20px;
            right: -30px;
        }

        .text-bottom {
            width: 100%;
            bottom: 0;
            padding: 10px;
        }

        .content-block::after {
            display: none;

        }

        .sobre-container {
            margin-top: 2rem;
            border-top-left-radius: 50px;
            border-top-right-radius: 50px;
            padding-top: 1rem;
            width: 100%;
            text-align: center;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

        }

        .content-grid {
            flex-direction: column;
            width: 100%;
            height: auto;
            padding: 0;
        }

        .content-top,
        .content-bottom {
            height: auto;
            width: 100%;
            flex-direction: initial;

        }

        .icon-item {
            padding: 10px 0;
            width: 50px;
        }

        .icon-item.left-column {
            gap: 5px;
        }

        .icon-item.right-column {
            gap: 5px;
        }

        .icon-circle {
            width: 50px;
            height: 50px;
            font-size: 2em;
        }

        .grafico-container {
            width: 250px;
            height: 250px;
        }

        .center-span h1 {
            font-size: 1em;
            line-height: 1.2em;
        }

    }

    .empresa-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 2rem;
        margin-top: 0;
    }

    .areas-section {
        height: auto;

        .swiper {
            width: 100%;
            height: 100%;
            padding-top: 0;
            padding-left: 0;
            padding: 0 20px;
        }

        .swiper-wrapper {
            display: flex;
            flex-direction: column;
            height: 100%;
            transition: .5s !important;
        }

        .swiper-slide {
            position: relative;
            width: 100%;
            height: 300px;
            text-align: center;
            flex-shrink: 0;
            margin: 10px 0;
            border-radius: 30px;
        }

        .swiper-slide:nth-child(1) {
            margin-left: 0;
        }

        .swiper-slide h3 {
            font-size: 1.3em;
        }

        .swiper-pagination-slid,
        .carousel-navigation {
            display: none;
        }
    }

    .projectos-section {
        border-radius: 0;
        padding: 10px 20px 80px;
        border-bottom-left-radius: 50px;
        border-bottom-right-radius: 50px;

        .carousel-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 0;
            overflow: hidden;
            width: 100%;

        }

        .card {
            width: 100%;
            height: 280px;
        }

        .card.active {
            width: 100%;
            height: 280px;
            transform: scale(1);
        }

        .card-overlay {
            align-items: center;
            text-align: center;
        }

        .card-overlay h3 {
            font-size: 1.4em;
        }

        .card.active .card-overlay h3 {
            font-size: 1.5em;
        }

        .card-overlay .btn {
            font-size: 1em;
            padding: 6px 12px;
        }

        .carousel-navigation {
            display: none;
        }

    }

    .polis-section {
        height: 100vh;
    }

    .polis-section,
    .noticias-section {
        margin-top: -60px;

        .card-overlay {
            padding: 6rem 1rem;
            background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
            color: var(--white);
            box-sizing: border-box;
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: space-between;
        }

        .logo-polis {
            width: auto;
            height: auto;

            .text-polis-top {

                h4 {
                    font-size: 1rem;
                }

            }
        }

        .text-polis {
            max-width: 60%;
        }

        .card-overlay h3 {
            margin: 0 0 10px 0;
            font-size: 1.5rem;
            font-weight: bold;
        }

        .card-overlay .btn {
            font-size: 1.2em;
        }
    }

    .noticias-section {
        border-top-left-radius: 50px;
        border-top-right-radius: 50px;
        padding-top: 1rem;

        .category {
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            padding: 10px 0;
            overflow: hidden;
            max-width: 100%;
        }

        .card-blog {
            width: 320px;
            height: 380px;

        }

        .card-blog section {
            a {
                font-size: 1.1rem;
            }
        }

        .card-blog section h4 {
            font-size: 1.2rem;
        }

        .card-blog section span {
            color: var(--light-gray);
            font-size: 1rem;
        }

    }

    .contactos-section {
        padding: 2rem 20px;

        .logo {
            width: 100%;
        }

        .contact-info {
            padding: 2rem;
            border-radius: 3rem
        }

        .contact-info h1 {
            font-size: 2rem;
            margin-bottom: 20px;
        }

        .contact-info p {
            margin: 20px 0;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .contact-info i {
            margin-right: 10px;
        }

        .social h3 {
            margin-top: 30px;
            font-size: 1.7rem;
            line-height: 50px;
        }

        .social {
            padding: 40px 0;
        }

        .contact-form {
            width: 100%;
            margin-top: 30px;
            padding: 0rem;
        }

        .contact-form h1 {
            margin-bottom: 25px;
            font-size: 2rem;
        }


        .contact-form input,
        .contact-form textarea {
            margin-bottom: 15px;
            padding: 15px;
            border: 1px solid transparent;
            border-radius: 10px;
            background: #eee;
            font-size: 1rem;
            outline: none;

        }

        .contact-form textarea {
            min-height: 150px;
            min-width: 100%;
        }

        .submit-btn {
            padding: 15px;
            border: none;
            border-radius: 12px;
            background: var(--gradient);
            color: white;
            font-size: 1rem;
            cursor: pointer;
        }
    }


}

@media (max-width: 480px) {
    .logo {
        width: 140px;
    }

    .card-baner .txt h2 {
        font-size: 2.4rem;
        line-height: 50px;
    }

    .card-baner .txt p {
        font-size: 0.9rem;
    }

    .titulo {
        /* font-size: 1.2rem; */
        padding: 1rem;
    }

    .text-top,
    .text-bottom {
        font-size: 1.1rem;
        padding: 1rem;
    }
}