:root {
    --bg-body: #f7f7f7;
    --bg-nav:  #d9d9d9cb;
    --text-color: #C33622;
    --text-color2: #343434;
    --text-color3: #000000;
    --text-color-black: #912B1C;
    --light-gray: #858585;
    --light-gray-search: #c3c3c3;
    --white: var(--white)fff;
    --line-color: #B0B7D04D;
    --dot-color: #c9cee2bc;
    --dot-color2: #c9cee2e9;
    --dot-color-active: var(--white)fff;
    --gradient: linear-gradient(to right, #912B1C, #C33622);
    --gradient-gray: linear-gradient(to bottom, #e6e6e6, #f7f7f7);

    --dot-size: 30px;
    --size-titulo: 3rem;

    --border: 180px;
    --border2: 140px;
    --border3: 2000px;
    --border4: 100px;

    --segment-gap-color: #f0f0f0;
    --segment-2-color: var(--text-color);
    --segment-3-color: #777;

 
    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html,
body {
    overflow-x: hidden;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    min-width: 1024px;
    background-color: var(--bg-body)
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: var(--text-color);
  border-radius: 10px
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block
}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    transition: all 0.3s ease
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 100vw;
    width: calc(100% - 210px);
    height: 100%;
    margin: 0 auto;
    border-radius: 100px;
    background-color: var(--bg-nav)
}

.logo {
    width: 250px;
    height: 100%;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 80%;
    gap: 2rem;

}

.nav-links a {
    display: inline-block;
    position: relative;
    color: var(--text-color3);
    text-decoration: none;
    text-transform: capitalize;
    font-size: 1.3rem;
    font-weight: 300;
    padding: 5px;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 10%;
        transition: all .3s;
        z-index: -1
    }

    &:hover:before,
    &.active:before {
        width: 100%
    }

    &:hover,
    &.active {
        color: var(--text-color)
    }
}

#search {
    padding: 12px;
    color: var(--text-color3);
    font-size: 1.4rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: var(--white);
    opacity: 0.6;
}

#search:hover {
    opacity: 1;
}

.lang {
    display: flex;
    top: 0;
    padding: 8px;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    background-color: var(--white);
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-section {
    height: 100vh;
}

.baner {
    position: relative;
    width: 100%;
    height: 100vh
}

.baner-cards {
    position: absolute;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    border-bottom-right-radius: 420px
}

.card-baner {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    opacity: 1;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;

}

.card-baner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    transform: translateX(0);
}

.card-baner .txt {
    position: relative;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 0 90px;
    left: 0px;
    bottom: 20px;
    opacity: 1;

    & h2 {
        color: var(--white);
        font-size: 8rem;
        font-weight: bold;
        line-height: 120px;
        text-shadow: 0 0px 80px rgba(0, 0, 0, 0.9);

    }

    & p {
        margin: 0;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.6;
        text-align: justify;
        max-width: 60%;
    }
}

.btn-saiba-mais {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    color: var(--white);
    font-size: 1.2rem;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    max-width: 200px;
    margin: 40px 0px;
    align-self: self-start;
    padding: 15px;
}

.custom-selector {
    z-index: 999;
    height: 70px;
    width: 100%;
    bottom: 0px;
    max-height: 100%;
    min-height: 0 !important;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-selector .dot {
    height: var(--dot-size);
    width: var(--dot-size);
    background: var(--dot-color);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    transform: scale(0.4);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.custom-selector .dot.active {
    transform: scale(0.5);
    background: var(--dot-color-active);
}

.titulo {
    display: flex;
    align-self: flex-start;
    padding: 20px 8rem;
    font-size: var(--size-titulo);
    color: var(--text-color);
    cursor: pointer;
}

.carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;

    & i {
        color: #838282;
    }

    i:hover {
        color: #262525;
    }
}

.carousel-navigation .arrow {
    background: none;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-navigation .arrow:hover {
    background-color: #eee;
}

.carousel-navigation .dots {
    display: flex;
    gap: 8px;
}

.carousel-navigation .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-navigation .dot.active {
    background-color: #888;
}

.destaque-section .card:last-child {
    border-top-right-radius: var(--border);
    border-bottom-right-radius: var(--border);
}

.destaque-section .card:first-child {
    border-top-left-radius: var(--border);
    border-bottom-left-radius: var(--border);
}

.destaque-section .carousel-container::after {
    content: '';
    position: absolute;
    top: -100px;
    left: -70px;
    width: 100%;
    height: 620px;
    border-top-right-radius: 440px;
    border-bottom-right-radius: 440px;
    opacity: 1;
    z-index: -10;
    border: 1px solid var(--text-color);
}

.destaque-section,
.projectos-section {
    flex-direction: column;
    position: relative;
    padding: 5rem 0;

    & .carousel-container {
        display: flex;
        gap: 80px;
        padding: 30px;
        overflow: hidden;

    }

    .card {
        position: relative;
        height: 470px;
        width: 480px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        flex-shrink: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    .card.active {
        height: 480px;
        width: 550px;
        transform: scale(1.091);
    }

    .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 1.8em;
        font-weight: bold;
    }

    .card-overlay .btn {
        display: inline-block;
        padding: 8px 15px;
        background-color: transparent;
        border: 1px solid var(--white);
        color: var(--white);
        text-decoration: none;
        border-radius: 20px;
        font-size: 0.9em;
        transition: background-color 0.3s, color 0.3s;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
    }

}

.sobre-section {
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding: 5rem 0;
    position: relative;
    flex-direction: column;

    .header-text {
        align-self: flex-start;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        gap: 1px;
        cursor: pointer;
        color: var(--text-color2);

        & p strong {
            color: var(--text-color3);
        }

        p strong:hover {
            color: var(--text-color);
        }

    }

    .content-block::after {
        content: '';
        position: absolute;
        top: 150px;
        right: -400px;
        width: 100%;
        height: 680px;
        border-top-left-radius: 440px;
        border-bottom-left-radius: 440px;
        opacity: 1;
        z-index: 1;
        border: 1px solid var(--text-color);
    }

    .text-top {
        width: 70%;
        bottom: -50px;
        right: -60px;
        padding: 20px 30px;
        position: relative;
        align-self: center;
        z-index: 10;
        flex: 1;
        border-radius: 100px;
        text-align: justify;
        background: var(--gradient-gray);
        font-size: 2em;
        font-weight: 300;
        line-height: 1.5;
    }

    .text-bottom {
        width: 80%;
        padding: 50px;
        padding-left: 80px;
        position: relative;
        align-self: center;
        z-index: 1000;
        flex: 1;
        font-size: 2em;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
    }

    .image-container {
        flex-shrink: 0;
        width: 80%;
        max-height: 550px;
        background-color: #ddd;
        overflow: hidden;
        position: relative;
        border-top-right-radius: var(--border3);
        border-bottom-right-radius: var(--border3);
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }


    .sobre-container {
        background: var(--gradient-gray);
        border-top-left-radius: var(--border2);
        border-top-right-radius: var(--border2);
        padding-top: 4rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .content-grid {
        display: grid;

        grid-template-areas:
            "icon1L . chart . icon1R"
            "icon2L . chart . icon2R"
            "icon3L . chart . icon3R";
        grid-template-columns: auto 1fr 2.5fr 1fr auto;
        grid-template-rows: repeat(3, 1fr);
        gap: 0px;
        align-items: center;
        justify-items: center;
        min-height: 400px;
        position: relative;
    }

    .content-grid .icon-item:nth-child(1) {
        grid-area: icon1L;
    }

    .content-grid .icon-item:nth-child(2) {
        grid-area: icon2L;
    }

    .content-grid .icon-item:nth-child(3) {
        grid-area: icon3L;
    }

    .content-grid .icon-item:nth-child(5) {
        grid-area: icon1R;
    }


    .content-grid .icon-item:nth-child(6) {
        grid-area: icon2R;
    }


    .content-grid .icon-item:nth-child(7) {
        grid-area: icon3R;
    }

    .icon-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        width: 250px;
    }

    .icon-item.active {
        padding: 5px;
        border-radius: 50px;
        border: none;
        background-color: #e0e0e0;
        box-shadow: 0px 0px -2px;

    }

    .icon-item.left-column {
        flex-direction: row;
        justify-self: end;
        gap: 15px;
    }

    .icon-item.right-column {
        flex-direction: row-reverse;
        justify-self: start;
        gap: 15px;
    }

    .icon-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
        color: var(--text-color);
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }

    .icon-text {
        display: flex;
        text-align: start;
        font-size: 1.5em;
        color: var(--light-gray);
        font-weight: 500;
        white-space: wrap;
        max-width: 140px;
        display: none;
    }

    .icon-text.active {
        display: flex;
    }


    .grafico-container {
        grid-area: chart;
        position: relative;
        width: 500px;
        height: 500px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
    }

    .fatia {
        position: absolute;
        width: 50%;
        height: 50%;
        top: 0;
        left: 50%;
        transform-origin: 0% 100%;
        clip-path: polygon(0% 100%, 100% 100%, 100% 0%);
        border-radius: 0 100% 0 0;
    }

    .fatia1 {
        background: #d93224;
        transform: rotate(0deg);
        transform: scale(1.1);
    }

    .fatia2 {
        background: #e0e0e0;
        transform: rotate(60deg);
    }

    .fatia3 {
        background: #e0e0e0;
        transform: rotate(120deg);
    }

    .fatia4 {
        background: #e0e0e0;
        transform: rotate(180deg);
    }

    .fatia5 {
        background: #e0e0e0;
        transform: rotate(240deg);
    }

    .fatia6 {
        background: #e0e0e0;
        transform: rotate(300deg);
    }

    .centro {
        position: absolute;
        width: 70%;
        height: 70%;
        top: 15%;
        left: 15%;
        background: #f5f5f5;
        border-radius: 50%;
        z-index: 2;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        padding: 10px;
    }

    .centro h1 {
        margin: 0;
        font-size: 1.4em;
        color: #d93224;
        line-height: 1.3em;
    }

    .centro p {
        margin: 0;
        font-size: 1em;
        color: #666;
    }
}

.empresa-section {
    position: relative;
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding-top: 5rem;
    margin-top: 100px;
    flex-direction: column;



    .carousel-container {
        display: grid;
        align-content: center;
        overflow: hidden;
        gap: var(--gap);
        width: 100%;
        padding: 2rem 0;
    }


    * {
        box-sizing: border-box;
    }

    .marquee {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
        mask-image: linear-gradient(var(--mask-direction, to right),
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 1) 20%,
                hsl(0 0% 0% / 1) 80%,
                hsl(0 0% 0% / 0));
    }

    .marquee__group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll-x var(--duration) linear infinite;

    }

    @media (prefers-reduced-motion: reduce) {
        .marquee__group {
            animation-play-state: paused;
        }
    }

    .marquee--vertical {
        --mask-direction: to bottom;
    }

    .marquee--vertical,
    .marquee--vertical .marquee__group {
        flex-direction: column;
    }

    .marquee--vertical .marquee__group {
        animation-name: scroll-y;
    }

    .marquee--reverse .marquee__group {
        animation-direction: reverse;
        animation-delay: -3s;
    }

    .icon-empresa img {
        object-fit: contain;
    }


    .marquee .icon-empresa {
        display: block;
        place-items: center;
        width: 260px;
        height: 100px;
        padding: 10px;
        border-radius: 0.5rem;
        border: 1px solid var(--line-color)
    }

    .marquee--vertical .icon-empresa {
        aspect-ratio: 1;
        width: calc(var(--size) / 1.5);
        padding: calc(var(--size) / 6);
    }


    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        margin: auto;
        max-width: 100vw;
    }

    .wrapper--vertical {
        flex-direction: row;
        height: 100vh;
    }

    .toggle {
        --size: 3rem;
        position: relative;
        position: fixed;
        top: 1rem;
        left: 1rem;
        width: var(--size);
        height: var(--size);
        font: inherit;
        text-align: center;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 50%;
        color: inherit;
        background-color: var(--color-bg-accent);
        z-index: 1;
    }

    .toggle:focus-visible {
        box-shadow: 0 0 0 2px var(--color-text);
    }

    .toggle span {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: calc(100% + 0.4em);
        width: fit-content;
        white-space: nowrap;
        transform: translateY(-50%);
        animation: fade 400ms 4s ease-out forwards;
        user-select: none;
    }

    .toggle svg {
        --size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--size);
        height: var(--size);
        fill: currentcolor;
        transform: translate(-50%, -50%);
        transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    .toggle--vertical svg {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    @keyframes fade {
        to {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(var(--scroll-start));
    }

    to {
        transform: translateY(var(--scroll-end));
    }
}

.areas-section {
    width: 100%;
    height: 80vh;
    cursor: pointer;
    flex-direction: column;

    .swiper {
        width: 100%;
        padding-top: 4rem;
        padding-left: 8rem;

    }

    .swiper-slide {
        position: relative;
        display: inline-block;
        text-align: center;
        flex-shrink: 0;
        width: 450px;
        height: 400px;
        transition-property: transform;
        margin: 10px;
        border-radius: 30px;
    }

    .swiper-slide:nth-child(1) {
        margin-left: 240px;

    }


    .swiper-pagination-slid {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        padding: 10px;

    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: #000;
        opacity: .2
    }


    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--text-color)
    }

    .swiper-wrapper {
        position: relative;
        width: 100%;
        height: 100%;
        z-index: 1;
        display: flex;
        transition-property: transform;
        transition-timing-function: var(--swiper-wrapper-transition-timing-function, initial);
        box-sizing: content-box
    }

    .swiper-wrapper {
        transition: .5s !important;
    }

    .swiper-slide img {
        border-radius: 30px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .swiper-slide h3 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: var(--white);
        font-size: 1.6em;
        font-weight: 500;
        z-index: 2;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
        margin: 0;
    }
}

.projectos-section {
    background-color: var(--bg-body);
    border-bottom-left-radius: var(--border4);
    border-bottom-right-radius: var(--border4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    flex-direction: column;

    .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 5rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 1.8em;
        font-weight: 400;
    }

    .card.active .card-overlay h3 {
        font-weight: bold;
        font-size: 1.9em;

    }

    .card-overlay .btn {
        display: inline-block;
        padding: 8px 15px;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--white);
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.2em;
        transition: background-color 0.3s, color 0.3s;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
    }
}

.polis-section {
    height: 1200px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.polis-section,
.noticias-section {
    position: relative;
    margin-top: -90px;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;


    .card-overlay {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10rem 8rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.2));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

    }

    .logo-polis {
        display: flex;
        width: 500px;
        height: 100px;
        background-color: var(--dot-color2);
        border-radius: 50px;
        padding: 5px;

        & .logo {
            height: 100%;
        }

        .text-polis-top {
            flex: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 10px;

            & h4 {
                font-size: 1.6rem;
                color: var(--text-color3);
                font-weight: 300;
            }

        }
    }

    .text-polis {
        max-width: 750px;
    }

    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 3rem;
        font-weight: bold;
    }


    .card-overlay .btn {
        display: inline-block;
        padding: 8px 0px;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--white);
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.6em;
        transition: background-color 0.3s, color 0.3s;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
    }

}

.noticias-section {
    background-color: var(--bg-body);
    border-top-left-radius: var(--border4);
    border-top-right-radius: var(--border4);
    padding-top: 5rem;
    flex-direction: column;

    .category {
        margin: 10px;
        display: flex;
        align-items: center;
        width: 95%;
        max-height: 550px;
        padding: 15px 5rem;
    }

    .card-blog {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 220px;
        height: 430px;
        background-color: #EFEFEF;
        transition: all ease-in-out .5s;
        cursor: pointer;
        flex-grow: 1;
        flex-basis: 100;
        margin: 30px;
        border-radius: 10px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    }

    .card-blog img {
        height: 60%;
        border-radius: 10px 10px 0 0;
    }

    .card-blog section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px 7px;
        height: 40%;

        & a {
            display: inline-block;
            padding: 8px 15px;
            background-color: transparent;
            border: 1px solid transparent;
            color: var(--light-gray);
            text-decoration: none;
            border-radius: 20px;
            font-size: 1.2rem;
            transition: background-color 0.3s, color 0.3s;
            align-self: flex-end;
            text-transform: lowercase;
        }

    }

    .card-blog section h4 {
        text-align: justify;
        align-self: start;
        height: auto;
        width: 90%;
        left: 0;
        top: 0;
        font-weight: 500;
        font-size: 1.4rem;
        max-height: 120px;
        overflow-y: hidden;
        color: var(--text-color);
    }

    .card-blog section span {
        color: var(--light-gray);
        font-size: 1.2rem;
        align-self: flex-start;

    }

}

.contactos-section {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    background: var(--white);
    border-radius: 20px;
    padding: 5rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

    .logo {
        width: 40%;
    }

    .contact-info {
        flex: 1;
        background: linear-gradient(to top, var(--text-color), var(--text-color-black));
        color: var(--white);
        padding: 3rem;
        border-radius: 3rem
    }

    .contact-info h1 {
        font-size: 4rem;
        margin: 40px 0;
        font-weight: 400;
        color: var(--white);
    }

    .contact-info p {
        margin: 25px 0;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .contact-info i {
        margin-right: 10px;
    }

    .social h3 {
        margin-top: 30px;
        font-size: 1.7rem;
        line-height: 50px;
    }

    .social {
        padding: 40px 0;
    }

    .social a {
        display: inline-block;
        margin: 10px 10px 0 0;
        font-size: 2rem;
        color: white;
    }

    .contact-form {
        flex: 1;
        padding: 50px;
        padding: 3rem;
        height: 690px;
        border-radius: 3rem;
    }

    .contact-form h1 {
        margin-bottom: 20px;
        font-size: 4rem;
        font-weight: 400;
        color: var(--light-gray);
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
    }

    .contact-form input,
    .contact-form textarea {
        margin-bottom: 15px;
        padding: 15px;
        border: 1px solid transparent;
        border-radius: 10px;
        background: #eee;
        font-size: 1rem;
        outline: none;

    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border: 1px solid var(--text-color);
    }

    .contact-form textarea {
        min-height: 250px;
        min-width: 580px;
    }

    .options {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
    }

    .options button {
        flex: 1;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background: #ccc;
        color: var(--text-color3);
        font-weight: 400;
        cursor: pointer;
    }

    .options .active {
        background: var(--gradient);
        color: var(--white);
    }

    .submit-btn {
        padding: 15px;
        border: none;
        border-radius: 12px;
        background: var(--gradient);
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: var(--gradient);

    .bottom {
        color: white;
        padding: 40px 20px 20px;

        .footer-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            margin-bottom: 30px;
            margin-left: 10px;

        }

        .footer-column {
            flex: 1 1 200px;
        }

        .coluna-dupla {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 1fr));
            column-gap: 30px;
        }

        .coluna-dupla li {
            margin-bottom: 8px;
        }


        .logo-footer {
            object-fit: contain;
            max-width: 180px;
            height: 60px;
            margin-bottom: 0px;

        }

        .footer-column h4 {
            margin-bottom: 10px;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .footer-column ul {
            list-style: none;
            padding: 0;
        }

        .footer-column ul li {
            margin-bottom: 10px;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .footer-column a {
            color: white;
            text-decoration: none;
            transition: opacity 0.3s;
        }

        .footer-column a:hover {
            opacity: 0.7;
        }

        .social-icons {
            padding: 10px 0;
            
           & a {
                font-size: 1.8rem;
                margin-right: 10px;
                color: var(--white);
            }
        }

        .footer-logos {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 25px;
            padding: 20px 5px;
            border-bottom: 3px solid var(--white);
        }

        .footer-logos img {
            height: 42px;
            object-fit: contain;
        }

        .footer-bottom {
            text-align: center;
            font-size: 0.9rem;
            margin-top: 10px;
            color: #f1f1f1;

        }

    }

}