:root {
    --bg-body: #f7f7f7;
    --bg-nav: #d9d9d9cb;
    --text-color: #C33622;
    --text-color2: #2D2D2D;
    --text-color3: #000000;
    --text-color-black: #912B1C;
    --light-gray: #858585;
    --light-gray-search: #c3c3c3;
    --white: #ffffff;
    --line-color: #B0B7D04D;
    --dot-color: #c9cee2bc;
    --dot-color2: #c9cee2e9;
    --dot-color-active: #ffffff;
    --gradient: linear-gradient(to right, #912B1C, #C33622);
    --gradient-gray: linear-gradient(to bottom, #e6e6e6, #f7f7f7);

    --dot-size: 30px;
    --size-titulo: 3rem;
    --border: 180px;
    --border2: 140px;
    --border3: 2000px;
    --border4: 100px;

    --segment-gap-color: #f0f0f0;
    --segment-2-color: var(--text-color);
    --segment-3-color: #777;


    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

html {
    width: 100vw;
}

html,
body {
    overflow-x: hidden;
    overflow-y: scroll;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
    margin: 0;
    background-color: var(--bg-body);

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    backface-visibility: hidden;

}

header {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 20px;
    left: 0;
    width: 100%;
    height: 70px;
    z-index: 1000;
    transition: all 0.3s ease
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 100vw;
    width: calc(100% - 180px);
    height: 100%;
    margin: 0 auto;
    border-radius: 100px;
    background-color: var(--bg-nav);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(1px);
}

.logo {
    max-width: 25%;
    padding: 5px;
    height: 100%;
    cursor: pointer;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

.nav-links nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.nav-links a {
    position: relative;
    color: var(--text-color3);
    text-decoration: none;
    text-transform: capitalize;
    font-size: clamp(1.3rem, 1.5vw, 1.3rem);
    font-weight: 300;
    padding: 5px;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;
}

.nav-links a:hover::before,
.nav-links a.active::before {
    width: 100%;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--text-color);
}


.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-nav, #fff);
    min-width: 160px;
    padding: 10px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 999;
    border-radius: 8px;
    margin-left: 0;

}

.dropdown-menu a {
    color: var(--text-color3);
    padding: 10px 1px;
    text-decoration: none;
    display: block;
    font-size: 1rem;

}

.dropdown-menu a:hover {
    color: var(--text-color);
}

.dropdown:hover .dropdown-menu {
    display: block;
}


.dropdown>a::after {
    content: "▾";
    font-size: 1.5rem;
    margin-left: 4px;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: var(--text-color3);
}

.menu-container {
    display: none;
    position: absolute;
    right: 1rem;
    top: 90px;
    z-index: 999;
    background: var(--bg-nav);
    backdrop-filter: blur(10px);
    border-radius: 10px;
    overflow: hidden;
    transition: heigth 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    padding: 20px 30px;
}

.menu-container.active {
    display: flex;
}

.menu-container .nav-links {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    width: 100%;

    a {
        padding: 10px;

    }
}

#search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    padding: 12px;
    color: var(--text-color3);
    font-size: 1.4rem;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    background-color: var(--white);
    opacity: 0.6;
    transition: all 0.5s ease;

}

#search-input {
    display: none;
    position: absolute;
    right: 0;
    height: 100%;
    background-color: var(--white);
    opacity: 0.6;
    border: none;
    outline: none;
    font-size: 1rem;
    padding: 5px 15px;
    width: 100%;
}

#search.active {
    position: relative;
    right: 0;
    top: 0;
    background-color: var(--white);
    opacity: 1;
    width: 300px;
    height: 70%;
    z-index: 1000;
    border-radius: 100px;
    transition: all 0.5s ease;

    #search-input {
        display: flex;
        position: relative;
    }
}

#search:hover {
    opacity: 1;
}

.lang {
    display: flex;
    top: 0;
    padding: 8px;
    border-start-start-radius: 20px;
    border-end-start-radius: 20px;
    background-color: var(--white);
    border: none;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: 300;
    cursor: pointer
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center
}

.hero-section {
    height: 100vh;
}

.baner {
    position: relative;
    width: 100%;
    height: 100vh
}

.baner-cards {
    position: relative;
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    list-style: none;
    border-bottom-right-radius: 420px;
}

.card-baner {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-shrink: 0;
    top: 0;
    left: 0;
}

.card-baner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.2);
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    opacity: 0.1;
}

.card-baner.active {
    opacity: 1;
    z-index: 1;
}

.card-baner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.8s ease-in-out;
    transform: translateX(0);
}

.card-baner .txt {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 20px 90px;
    left: 0px;
    bottom: 20px;
    opacity: 1;

    h2 {
        color: #fff;
        font-size: 6rem;
        font-weight: bold;
        text-shadow: 0 0px 80px rgba(0, 0, 0, 0.9);

    }

    p {
        margin: 0;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.6;
        text-align: justify;
        max-width: 60%;
    }
}

.btn-saiba-mais {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient);
    color: var(--white);
    font-size: 1.2rem;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    cursor: pointer;
    border: none;
    border-radius: 15px;
    max-width: 200px;
    margin: 40px 0px;
    align-self: self-start;
    padding: 15px;
}

.custom-selector {
    z-index: 999;
    width: 100%;
    bottom: 20px;
    max-height: 100%;
    min-height: 0 !important;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-selector .dot {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    margin: 0 5px;
    padding: 0;
}

.custom-selector .dot.active {
    background-color: #fff;
    transform: scale(1.2);
}

.custom-selector .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.titulo {
    display: flex;
    align-self: flex-start;
    padding: 0px 5rem;
    font-size: var(--size-titulo);
    color: var(--text-color);
    cursor: pointer;
    text-transform: capitalize;
}

.carousel-nav button {
    border: none;
}

.carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    gap: 50px;

    i {
        color: #838282;
    }

    i:hover {
        color: #262525;
    }
}

.carousel-navigation .arrow {
    background: none;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-navigation .arrow:hover {
    background-color: #eee;
}

.carousel-navigation .dots {
    display: flex;
    gap: 8px;
}

.carousel-navigation .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
}

.carousel-navigation .dot.active {
    background-color: #888;
}

.destaque-section,
.projectos-section {
    flex-direction: column;
    position: relative;
    padding: 5rem 0;
    width: 100%;

    .carousel-container {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 20px;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
        gap: 10px;
        scroll-behavior: smooth;
        -webkit-overflow-scrolling: touch;
        scrollbar-width: none;
        -ms-overflow-style: none;
        position: relative;
        cursor: grab;
    }

    .carousel-container::-webkit-scrollbar {
        display: none;
    }

    .card {
        position: relative;
        width: 390px;
        height: 360px;
        border-radius: 30px;
        overflow: hidden;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        flex-shrink: 0;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.5s ease;
        pointer-events: auto;
        opacity: 0.8;
        margin: 0 20px;
    }

    .card.active {
        transform: scale(1.08) translateY(-1px);
        z-index: 2;
        opacity: 1;
        pointer-events: auto;
        border-radius: 30px !important;
    }

    .card.first-visible {
        border-top-left-radius: var(--border);
        border-bottom-left-radius: var(--border);
    }

    .card.last-visible {
        border-top-right-radius: var(--border);
        border-bottom-right-radius: var(--border);
    }

}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
    color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-overlay h3 {
    margin: 0 0 10px 0;
    font-size: 1.7rem;
    font-weight: bold;
}

.card-overlay .btn {
    display: inline-block;
    padding: 8px 15px;
    background-color: transparent;
    border: 1px solid var(--white);
    color: var(--white);
    text-decoration: none;
    border-radius: 20px;
    font-size: 0.9em;
    transition: background-color 0.3s, color 0.3s;
}

.card-overlay .btn:hover {
    background-color: var(--white);
    color: #333;
}

.sobre-section {
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding: 3rem 0;
    position: relative;
    flex-direction: column;

    .header-text {
        align-self: flex-start;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        gap: 1px;
        cursor: pointer;
        color: var(--text-color2);

        p strong {
            color: var(--text-color3);
        }

        p strong:hover {
            color: var(--text-color);
        }

    }

    .content-block::after {
        content: '';
        position: absolute;
        top: 130px;
        right: -300px;
        width: 100%;
        height: 37%;
        border-top-left-radius: 440px;
        border-bottom-left-radius: 440px;
        opacity: 1;
        z-index: 1;
        border: 1px solid var(--text-color);
    }

    .text-top {
        width: 80%;
        bottom: -50px;
        right: -60px;
        padding: 20px 40px;
        position: relative;
        align-self: center;
        z-index: 10;
        flex: 1;
        border-radius: 100px;
        text-align: justify;
        background: var(--gradient-gray);
        font-size: 1.8em;
        font-weight: 300;
        line-height: 1.5;
    }

    .text-bottom {
        width: 80%;
        padding: 50px;
        padding-left: 80px;
        position: relative;
        align-self: center;
        z-index: 1000;
        flex: 1;
        font-size: 2em;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
    }

    .image-container {
        flex-shrink: 0;
        width: 90%;
        max-height: 480px;
        background-color: #ddd;
        overflow: hidden;
        position: relative;
        border-top-right-radius: var(--border3);
        border-bottom-right-radius: var(--border3);
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .sobre-container {
        background: var(--gradient-gray);
        border-top-left-radius: var(--border2);
        border-top-right-radius: var(--border2);
        padding-top: 5rem;
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sobre-container.scroll-lock {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        overflow: hidden;
        z-index: 999;
        background: white;
        /* ou o fundo da seção */
    }


    .content-grid {
        display: flex;
        align-items: center;
        justify-items: center;
        width: 90%;
        padding: 0 4rem;
    }

    .content-top,
    .content-bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .icon-item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 10px 0;
        width: 310px;
        margin: 20px;
    }

    .icon-item.active {
        padding: 5px;
        border-radius: 50px;
        border: none;
        background-color: #e0e0e0;
        box-shadow: 0px 0px -2px;
    }

    .icon-item.active .icon-text {
        display: flex;
    }

    .icon-item.left-column {
        flex-direction: row;
        justify-self: end;
        gap: 15px;
    }

    .icon-item.right-column {
        flex-direction: row-reverse;
        justify-self: start;
        gap: 15px;
    }

    .icon-circle {
        width: 80px;
        height: 80px;
        border-radius: 50%;
        background-color: #f0f0f0;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 2.5em;
        color: var(--text-color);
        border: 1px solid #e0e0e0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
    }

    .icon-text {
        text-align: start;
        font-size: 1.5em;
        color: var(--light-gray);
        font-weight: 400;
        white-space: wrap;
        display: none;
    }

    .center-span {
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        transform: translate(-50%, -50%);
        font-size: 1.1rem;
        color: #888;
    }

    .center-span h1 {
        margin: 0;
        font-size: 1.4em;
        color: var(--text-color);
        line-height: 1.3em;
    }

    .center-span p {
        margin: 0;
        font-size: 1em;
        color: #666;
    }

    .donut {
        width: 35%;
        position: relative;
        margin: auto;
        border-radius: 50%;
    }

    svg {
        width: 100%;
        height: 100%;
        transform: rotate(-30deg);
    }


}

.empresa-section {
    position: relative;
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding-top: 3rem;
    padding-bottom: 6rem;
    margin-top: 100px;
    flex-direction: column;


    .carousel-container {
        display: grid;
        align-content: center;
        overflow: hidden;
        gap: var(--gap);
        width: 100%;
        padding: 2rem 0;
    }


    * {
        box-sizing: border-box;
    }

    .marquee {
        display: flex;
        overflow: hidden;
        user-select: none;
        gap: var(--gap);
        mask-image: linear-gradient(var(--mask-direction, to right),
                hsl(0 0% 0% / 0),
                hsl(0 0% 0% / 1) 20%,
                hsl(0 0% 0% / 1) 80%,
                hsl(0 0% 0% / 0));
    }

    .marquee__group {
        flex-shrink: 0;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: var(--gap);
        min-width: 100%;
        animation: scroll-x var(--duration) linear infinite;

    }

    @media (prefers-reduced-motion: reduce) {
        .marquee__group {
            animation-play-state: paused;
        }
    }

    .marquee--vertical {
        --mask-direction: to bottom;
    }

    .marquee--vertical,
    .marquee--vertical .marquee__group {
        flex-direction: column;
    }

    .marquee--vertical .marquee__group {
        animation-name: scroll-y;
    }

    .marquee--reverse .marquee__group {
        animation-direction: reverse;
        animation-delay: -3s;
    }

    .icon-empresa img {
        object-fit: contain;
    }


    .marquee .icon-empresa {
        display: block;
        place-items: center;
        width: 260px;
        height: 100px;
        padding: 10px;
        border-radius: 0.5rem;
        border: 1px solid var(--line-color)
    }

    .marquee--vertical .icon-empresa {
        aspect-ratio: 1;
        width: calc(var(--size) / 1.5);
        padding: calc(var(--size) / 6);
    }


    .wrapper {
        display: flex;
        flex-direction: column;
        gap: var(--gap);
        margin: auto;
        max-width: 100vw;
    }

    .wrapper--vertical {
        flex-direction: row;
        height: 100vh;
    }

    .toggle {
        --size: 3rem;
        position: relative;
        position: fixed;
        top: 1rem;
        left: 1rem;
        width: var(--size);
        height: var(--size);
        font: inherit;
        text-align: center;
        cursor: pointer;
        outline: none;
        border: none;
        border-radius: 50%;
        color: inherit;
        background-color: var(--color-bg-accent);
        z-index: 1;
    }

    .toggle:focus-visible {
        box-shadow: 0 0 0 2px var(--color-text);
    }

    .toggle span {
        position: absolute;
        display: inline-block;
        top: 50%;
        left: calc(100% + 0.4em);
        width: fit-content;
        white-space: nowrap;
        transform: translateY(-50%);
        animation: fade 400ms 4s ease-out forwards;
        user-select: none;
    }

    .toggle svg {
        --size: 1.5rem;
        position: absolute;
        top: 50%;
        left: 50%;
        width: var(--size);
        height: var(--size);
        fill: currentcolor;
        transform: translate(-50%, -50%);
        transition: transform 300ms cubic-bezier(0.25, 1, 0.5, 1);
    }

    .toggle--vertical svg {
        transform: translate(-50%, -50%) rotate(-90deg);
    }

    @keyframes fade {
        to {
            opacity: 0;
            visibility: hidden;
        }
    }
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}

@keyframes scroll-y {
    from {
        transform: translateY(var(--scroll-start));
    }

    to {
        transform: translateY(var(--scroll-end));
    }
}

.areas-section {
    width: 100%;
    height: auto;
    cursor: pointer;
    flex-direction: column;

    .card-overlay {
        border-radius: 30px;
    }

    .swiper-pagination-slid {
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
        padding: 10px;
    }

    .swiper-pagination-bullet {
        width: 8px;
        height: 8px;
        display: inline-block;
        border-radius: 50%;
        background: #000;
        opacity: .2;
    }

    .swiper-pagination-bullet-active {
        opacity: 1;
        background: var(--text-color);
    }


    .card-overlay {
        height: 100%;
    }

}


.areas-section .slider {
    position: relative;
    width: 100%;
    height: 500px;
    padding-top: 2rem;

    overflow: hidden;
}

.areas-section .item {
    position: absolute;
    width: 400px;
    height: 420px;
    text-align: center;
    background-color: transparent;
    border-radius: 30px;
    transition: 0.5s;
    left: calc(50% - 200px);
    top: 50px;

}

.areas-section .item img {
    border-radius: 30px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
}

.areas-section .item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 1.6em;
    font-weight: 500;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    margin: 0;
}




.projectos-section {
    background-color: var(--bg-body);
    border-bottom-left-radius: var(--border4);
    border-bottom-right-radius: var(--border4);
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
    position: relative;
    cursor: pointer;
    flex-direction: column;
    max-width: 100%;

    .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 2rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.1));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;

    }

    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 1.8em;
        font-weight: 400;
    }

    .card.active .card-overlay h3 {
        font-weight: bold;
        font-size: 1.9em;

    }

    .card-overlay .btn {
        display: inline-block;
        padding: 8px 15px;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--white);
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.2em;
        transition: background-color 0.3s, color 0.3s;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
    }
}

.polis-section {
    height: 1000px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
}

.polis-section,
.noticias-section {
    position: relative;
    margin-top: -90px;
    overflow: hidden;
    z-index: -1;
    display: flex;
    align-items: center;
    justify-content: center;

    .card-overlay {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10rem 8rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
    }

    .logo-polis {
        display: flex;
        max-width: 80%;
        height: 100px;
        background-color: rgba(255, 255, 255, 0.542);
        -webkit-backdrop-filter: blur(20px);
        backdrop-filter: blur(5px);
        border-radius: 50px;
        padding: 5px;



        .logo {
            height: 100%;
        }

        .text-polis-top {
            flex: 90%;
            height: 100%;
            display: flex;
            align-items: center;
            padding-left: 10px;


            h4 {
                font-size: 1.5rem;
                color: var(--text-color3);
                font-weight: 400;
                line-height: 1;
            }

        }
    }

    .text-polis {
        max-width: 750px;
    }

    /* .card-overlay {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        padding: 20px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: center;
    } */



    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 3rem;
        font-weight: bold;
    }

    .card-overlay .btn {
        display: inline-block;
        padding: 8px 0px;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--white);
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.6em;
        transition: background-color 0.3s, color 0.3s;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
    }

}

.noticias-section {
    height: auto;
    background-color: var(--bg-body);
    border-top-left-radius: var(--border4);
    border-top-right-radius: var(--border4);
    padding-top: 3rem;
    padding-bottom: 2rem;
    flex-direction: column;


    .category {
        margin: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 100%;
        max-height: 100%;
        padding: 5px 5rem;
    }

    .card-blog {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex-shrink: 0;
        z-index: 1;
        width: 390px;
        height: 460px;
        background-color: var(--white);
        transition: all ease-in-out .5s;
        border-radius: 30px;
        box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);

    }

    .card-blog img {
        height: 60%;
        border-radius: 30px 30px 0 0;
    }

    .card-blog section {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        padding: 5px 7px;
        height: 40%;


        & a {
            display: flex;
            padding: 8px 15px;
            background-color: transparent;
            border: 1px solid transparent;
            color: var(--light-gray);
            text-decoration: none;
            border-radius: 20px;
            font-size: 1.2rem;
            transition: background-color 0.3s, color 0.3s;
            align-self: flex-end;
            text-transform: lowercase;
            cursor: pointer;

        }

        a:hover {
            color: var(--text-color);
        }

    }

    .card-blog section h4 {
        text-align: justify;
        align-self: start;
        height: auto;
        width: 100%;
        left: 0;
        top: 0;
        font-weight: 500;
        font-size: 1.4rem;
        max-height: 120px;
        overflow-y: hidden;
        color: var(--text-color);
    }

    .card-blog section span {
        color: var(--light-gray);
        font-size: 1.2rem;
        align-self: flex-start;
    }

}

.contactos-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    background: #fff;
    border-radius: 20px;
    padding: 5rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.5s ease;



    .contact-info {
        flex: 1;
        background: linear-gradient(to top, var(--text-color), var(--text-color-black));
        color: var(--white);
        padding: 3rem;
        border-radius: 3rem;
        max-height: 800px;
    }

    .contact-info h1 {
        font-size: 4rem;
        margin: 40px 0;
        font-weight: 400;
        color: var(--white);
    }

    .contact-info p {
        margin: 25px 0;
        font-size: 1.5rem;
        font-weight: 300;
    }

    .contact-info i {
        margin-right: 10px;
    }

    .social h3 {
        margin-top: 30px;
        font-size: 1.7rem;
        line-height: 50px;
    }

    .social {
        padding: 40px 0;
    }

    .social a {
        display: inline-block;
        margin: 10px 10px 0 0;
        font-size: 2rem;
        color: var(--white);
    }

    .contact-form {
        flex: 1;
        padding: 2rem;
        border-radius: 3rem;

    }

    .contact-form h1 {
        margin-bottom: 20px;
        font-size: 4rem;
        font-weight: 400;
        color: var(--light-gray);
    }

    .contact-form form {
        display: flex;
        flex-direction: column;
        transition: all 0.5s ease;
    }

    .contact-form input,
    .contact-form textarea {
        margin-bottom: 15px;
        padding: 10px 15px;
        border: 1px solid transparent;
        border-radius: 10px;
        background: #eee;
        font-size: 1rem;
        outline: none;
        transition: all .5s;
    }

    .contact-form .empresa {
        display: none;
        transition: all 0.5s ease;

    }

    .contact-form .empresa.active {
        display: flex;
    }

    .contact-form input:focus,
    .contact-form textarea:focus {
        border: 1px solid var(--text-color);
    }

    .contact-form textarea {
        min-height: 250px;
        min-width: 580px;
        resize: none;
    }

    .options {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        transition: all 0.5s ease;
    }

    .options button {
        flex: 1;
        padding: 12px;
        border: none;
        border-radius: 8px;
        background: #ccc;
        color: var(--text-color3);
        font-weight: 400;
        cursor: pointer;
    }

    .options .active {
        background: var(--gradient);
        color: var(--white);
    }

    .submit-btn {
        padding: 15px;
        border: none;
        border-radius: 12px;
        background: var(--gradient);
        color: white;
        font-size: 1rem;
        cursor: pointer;
    }
}

.contactos-section .logo {
    width: 40%;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: var(--gradient);

    .bottom {
        color: white;
        padding: 40px 20px 20px;

        .footer-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 40px;
            margin-bottom: 30px;
            margin-left: 10px;

        }

        .footer-column {
            flex: 1 1 200px;
        }

        .coluna-dupla {
            display: grid;
            grid-template-columns: repeat(2, minmax(150px, 1fr));
            column-gap: 30px;
        }

        .coluna-dupla li {
            margin-bottom: 8px;
        }


        .logo-footer {
            object-fit: contain;
            max-width: 180px;
            height: 60px;
            margin-bottom: 0px;

        }

        .footer-column h4 {
            margin-bottom: 10px;
            font-size: 1.8rem;
            font-weight: bold;
        }

        .footer-column ul {
            list-style: none;
            padding: 0;
        }

        .footer-column ul li {
            margin-bottom: 10px;
            font-size: 1.2rem;
            font-weight: 300;
        }

        .footer-column a {
            color: white;
            text-decoration: none;
            transition: opacity 0.3s;
        }

        .footer-column a:hover {
            opacity: 0.7;
        }

        .social-icons {
            padding: 10px 0;

            a {
                font-size: 1.8rem;
                margin-right: 10px;
                color: var(--white);
            }
        }

        .footer-logos {
            display: flex;
            flex-wrap: nowrap;
            justify-content: center;
            gap: 25px;
            padding: 20px 5px;
            border-bottom: 3px solid var(--white);
        }

        .footer-logos img {
            height: 42px;
            object-fit: contain;
        }

        .footer-bottom {
            text-align: center;
            font-size: 0.9rem;
            margin-top: 10px;
            color: #f1f1f1;

        }

    }

}

/* Ajusta o container para mostrar 3 cards */
.destaque-section .carousel-container {
    max-width: 1800px;
    /* Aproximadamente 3 cards + gaps */
    margin: 0 auto;
    padding: 30px 0;
}

.donut-slice {
    fill: #e0e0e0;
    transition: fill 0.3s;
}

.donut-slice.active {
    fill: #C33622;
}

.icon-item.active .icon-circle {
    background: #C33622;
    color: #fff;
    transition: background 0.3s;
}