.noticias-section-view,
.projeto-section-view {
    position: relative;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;

    & a {
        display: inline-block;
        margin-top: 2rem;
        color: #C33622;
        text-decoration: underline;
    }
}

#noticia-img,
#projeto-img {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 70vh;
    object-position: 20% 20%;
    object-fit: cover;
    transition: opacity 0.8s ease-in-out;
    transform: translateX(0);

}

#noticia-detalhe,
#projeto-detalhe {
    margin-top: -120px;
    z-index: 1;
    background-color: var(--bg-body);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    width: 100%;
    position: relative;
    padding: 2rem 10rem;
}

#noticia-data {
    color: #888;
    font-size: 1rem;
    position: absolute;
    top: 10%;
    right: 10%;
}

#noticia-titulo,
#projeto-titulo {
    padding: 10px;
    margin: 1rem 0 1.5rem 0;
    font-size: 34px;
    font-weight: 500;
    position: relative;
    padding-left: 50px;
}


#noticia-titulo::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 100%;
    border-radius: var(--border2);
}

#noticia-titulo::before {
    content: "";
    position: absolute;
    bottom: -12px;
    left: 50px;
    width: 300px;
    height: 3px;
}


#noticia-titulo::after {
    background-color: var(--text-color);
}

#noticia-titulo::before {
    background-color: var(--text-color);
}


#noticia-conteudo,
#projeto-conteudo,
.sem-outras-noticias {
    margin: 0;
    color: var(--text-color1);
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 1.6;
    text-align: justify;
    max-width: 100%;
}

#noticia-conteudo p {
    width: 100%;
    margin-top: 15px;

    .strItem {
        margin: 25px 35px;
    }

}



/* Página de detalhes - container de outras notícias */
#outras-noticias {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    justify-content: center;
}

#outras-noticias .card-blog {
    flex: 0 0 calc(33.333% - 40px);
    /* 3 colunas */
    max-width: 380px;
    margin-bottom: 20px;
}

.sem-outras-noticias {
    color: var(--text-color);
}

/* Responsividade */
@media (max-width: 1200px) {
    #outras-noticias .card-blog {
        flex: 0 0 calc(50% - 30px);
        /* 2 colunas */
    }
}

@media (max-width: 768px) {
    #outras-noticias {
        gap: 20px;
    }

    #noticia-detalhe {
        padding: 20px;

    }

    #noticia-titulo,
    #projeto-titulo {
        padding: 10px;
        margin: 1rem 0 1.5rem 0;
        font-size: 24px;
        font-weight: 500;
        position: relative;
        padding-left: 50px;
    }


    #noticia-conteudo {
    }

    #outras-noticias .card-blog {
        flex: 0 0 100%;
        /* 1 coluna */
        max-width: 100%;
    }
}