:root {
    --bg-body: #f7f7f7;
    --bg-nav: rgba(217, 217, 217, 0.5);
    --text-color: #C33622;
    --text-color2: #2D2D2D;
    --text-color3: #000000;
    --text-color-black: #912B1C;
    --light-gray: #858585;
    --light-gray-search: #c3c3c3;
    --white: #ffffff;
    --line-color: #B0B7D04D;
    --dot-color: #c9cee2bc;
    --dot-color2: #c9cee2e9;
    --dot-color-active: #ffffff;
    --gradient: linear-gradient(to right, #912B1C, #C33622);
    --gradient-gray: linear-gradient(to bottom, #e6e6e6, #f7f7f7);

    --dot-size: 30px;
    --size-titulo: 3rem;
    --border: 180px;
    --border2: 50px;
    --border3: 2000px;
    --border4: 100px;

    --segment-gap-color: #f0f0f0;
    --segment-2-color: var(--text-color);
    --segment-3-color: #777;


    --size: clamp(10rem, 1rem + 40vmin, 30rem);
    --gap: calc(var(--size) / 14);
    --duration: 60s;
    --scroll-start: 0;
    --scroll-end: calc(-100% - var(--gap));

}

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#type-text,
.type-text,
#type-text * {
    font-family: "Arial Rounded MT Bold", "Arial Rounded MT";
}

html {
    width: 100vw;
}

html,
body,
.site-content {
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    --rows: 22;
}

body,
.site-content {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100vw;
    max-width: 1920px;
    margin: 0;
    background-color: var(--bg-body);
    

}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 10px
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
    backface-visibility: hidden;
}

.loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.logo-content {
    max-width: 35%;
    height: 100%;
    cursor: pointer;
    padding: 5px;
}

.logo-content svg {
    max-width: 100%;
    max-height: 100%;
    display: block;
}

.logo-content svg text {
    opacity: 0;
    transform: translateY(20px);
}

.loader-logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

#type-text {
    font-size: 20px;
    margin-left: -80px;
    margin-bottom: 50px;
    font-family: "Arial Rounded MT Bold", "Arial Rounded MT" !important;
}

.site-content {
    opacity: 0;
}


header {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 15px;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1000;
    transition: all 0.5s ease-in-out;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 100vw;
    width: calc(100% - 180px);
    height: 100%;
    margin: 0 auto;
    border-radius: 100px;
    background-color: var(--bg-nav);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(5px);
    transition: all 0.5s ease-in-out;
 }

.logo {
    max-width: 30%;
    padding: 8px;
    height: 100%;
    cursor: pointer;
}

#logo2 {
    display: none;
}

.logo img {
    height: 100%;
    width: 100%;
    object-fit: contain
}

.nav-links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 85%;
    height: 100%;
}

.nav-links nav {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.nav-links a,
.nav-links-menu a {
    position: relative;
    color: var(--text-color3);
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
    line-height: 17px;
    font-weight: 400;
    padding: 10px;
    margin: 4px 0;
    transition: all .3s;
    overflow: hidden;
    z-index: 1;
}

.nav-links a:hover,
.nav-links a.active {
    color: var(--text-color);
    font-weight: bold;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    min-width: 220px;
    padding: 12px 20px;
    background: var(--bg-nav);
    -webkit-backdrop-filter: blur(45px);
    backdrop-filter: blur(45px);
    box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    z-index: 999;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease, transform 0.3s ease;
    will-change: opacity, transform;
}



.dropdown-menu a {
    color: var(--text-color3);
    padding: 10px 1px;
    text-decoration: none;
    display: block;
    font-size: 15px;
    text-transform: uppercase;
}

.dropdown-menu a:hover {
    color: var(--text-color);
}

.dropdown-menu.show {
    display: block;
    opacity: 1;
    pointer-events: auto;
    transform: translateX(-50%) translateY(0);
}

.dropdown>a::after {
    content: " ";
    font-size: 1.5rem;
    margin-left: 4px;
}

.burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: none;

}

.burger input {
    display: none;
}

.burger span {
    display: block;
    position: absolute;
    height: 4px;
    width: 100%;
    background: var(--white);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: .25s ease-in-out;
}

.burger span:nth-of-type(1) {
    top: 0px;
    transform-origin: left center;
}

.burger span:nth-of-type(2) {
    top: 50%;
    transform: translateY(-50%);
    transform-origin: left center;
}

.burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
}

.burger input:checked~span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 0px;
    left: 5px;
}

.burger input:checked~span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
}

.burger input:checked~span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
}

.menu-container {
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 80px;
    width: 97%;
    z-index: 999;
    background: var(--bg-nav);
    backdrop-filter: blur(10px);
    border-radius: 30px;
    overflow: hidden;
    padding: 20px 30px;
    opacity: 0;
    transform: translateY(-10px);
    transition:
        height 0.6s ease-in-out,
        opacity 0.4s ease,
        transform 0.4s ease;
}

.menu-container.active,
.search-conteiner.active {
    display: flex;
    opacity: 1;
    transform: translateY(0);
    pointer-events: auto;
}

.nav-links-menu {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;

    a {
        padding: 10px;
        text-align: center;
        font-size: 1rem;
    }
}

.search-menu {
    top: 0;
    height: 50px;
    width: 100%;
}

.search-button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    color: var(--text-color3);
    font-size: 1.4rem;
    font-weight: 500 !important;
    border-radius: 50%;
    width: 50px;
    cursor: pointer;
    background-color: var(--bg-nav);
    transition: all 0.5s ease;

    & i {
        color: var(--light-gray);
        padding: 12px;
    }
}

.search-conteiner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    display: none;
    justify-content: center;
    align-items: end;
    z-index: 1000;
    padding: 20px;
    pointer-events: none;
    transition: opacity 0.2s ease;
}

.search-conteiner .search-top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-height: 500px;
    height: 490px;
}

#search-input {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    right: 0;
    height: 100%;
    border-radius: 50px;
    border: none;
    outline: none;
    font-size: 1rem;
    letter-spacing: 2px;
    padding: 10px 15px;
    width: 100%;
    color: var(--text-color3);
    background-color: transparent;
}

#search-input::placeholder {
    color: #373737;
    opacity: 1;
}

#search-input::-webkit-input-placeholder {
    color: #373737;
}

#search {
    position: relative;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 1000;
    border-radius: 50px;
    transition: all 0.5s ease;
    border: 1px solid var(--white);
    background-color: var(--bg-nav);

    & i {
        border-radius: 50%;
        background-color: transparent;
        opacity: 0.5;
        padding: 12px;
    }
}

.close-btn {
    position: absolute;
    background: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    top: 10%;
    right: 1%;
    transform: translate(-50%, 50%);
    color: var(--white);
    z-index: 999;
}

.search-box {
    background: var(--bg-nav);
    backdrop-filter: blur(1px);
    padding: 20px;
    border-radius: 50px;
    width: 550px;
    height: 430px;
    position: relative;
    border: 1px solid var(--white);
}

.search-result {
    padding: 10px 16px;
    cursor: pointer;
    opacity: 0.7;
}

.search-result:hover {
    opacity: 1;
}

#searchNav:hover {
    opacity: 1;
}

.switch {
    position: relative;
    display: inline-block;
    margin: 0 5px;
}

.switch>span {
    position: absolute;
    top: 10px;
    pointer-events: none;
    font-weight: bold;
    font-size: 15px;
    font-weight: 300;
    text-transform: uppercase;
    text-shadow: 0 1px 0 rgba(0, 0, 0, .06);
    width: 50%;
    text-align: center;
}

input.check-toggle-round-flat:checked~.off {
    color: var(--text-color);
}

input.check-toggle-round-flat:checked~.on {
    color: var(--white);
}

.switch>span.on {
    left: 0;
    padding-left: 2px;
    color: var(--text-color);
}

.switch>span.off {
    right: 0;
    padding-right: 4px;
    color: var(--white);
}

.check-toggle {
    position: absolute;
    margin-left: -9999px;
    visibility: hidden;
}

.check-toggle+label {
    display: block;
    position: relative;
    cursor: pointer;
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

input.check-toggle-round-flat+label {
    padding: 2px;
    width: 80px;
    height: 35px;
    background-color: var(--bg-nav);
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

input.check-toggle-round-flat+label:before,
input.check-toggle-round-flat+label:after {
    display: block;
    position: absolute;
    content: "";
}

input.check-toggle-round-flat+label:before {
    top: 2px;
    left: 2px;
    bottom: 2px;
    right: 2px;
    background-color: var(--bg-nav);
    -webkit-moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    border-radius: 50px;
}

input.check-toggle-round-flat+label:after {
    top: 4px;
    left: 4px;
    bottom: 4px;
    width: 37px;
    background-color: var(--white);
    -webkit-border-radius: 52px;
    -moz-border-radius: 52px;
    -ms-border-radius: 52px;
    -o-border-radius: 52px;
    border-radius: 52px;
    -webkit-transition: margin 0.2s;
    -moz-transition: margin 0.2s;
    -o-transition: margin 0.2s;
    transition: margin 0.2s;
}


input.check-toggle-round-flat:checked+label:after {
    margin-left: 37px;
}

section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero-section {
    height: 100vh;
}

.baner {
    position: relative;
    width: 100%;
    height: 100vh;
}

.baner-cards {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    list-style: none;
    overflow: hidden;
    transition: transform 0.5s ease-in-out;
    border-bottom-right-radius: 300px;
}

.card-baner {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-direction: column;
    flex-shrink: 0;
    top: 0;
    left: 0;
    cursor: pointer;
    transition: transform 0.8s ease, filter 0.8s ease;
}

.card-baner::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    -webkit-backdrop-filter: blur(0px);
    backdrop-filter: blur(10px);
    opacity: 0.4;
}

.card-baner.active {
    opacity: 1;
    z-index: 1;
}

.card-baner img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    object-fit: cover;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-in-out;
    transition: transform 1s ease, filter 1s ease;
    transform: translateX(0);
    transform: scale(1);
    transform-origin: center center;
}

.card-baner .txt {
    position: relative;
    z-index: 1000;
    width: 100%;
    height: auto;
    display: flex;
    align-self: center;
    flex-direction: column;
    justify-content: center;
    padding: 10px 90px;
    left: 0px;
    bottom: 80px;
    opacity: 0;

    h2 {
        color: var(--white);
        font-size: 5rem;
        font-weight: bold;
        text-shadow: 0 0px 80px rgba(0, 0, 0, 0.9);
        margin: 20px 0;
    }

    p {
        margin: 0;
        color: var(--white);
        font-size: 1.4rem;
        font-weight: 300;
        line-height: 1.6;
        text-align: justify;
        max-width: 70%;
    }
}

.btn-saiba-mais {
    position: relative;
    overflow: hidden;
    color: var(--white);
    border-radius: 50px;
    border: none;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 250px;
    font-size: 18px;
    line-height: 15px;
    padding: 18px 18px 17px;
    text-decoration: none;
    cursor: pointer;
    background: var(--gradient);
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

.btn-saiba-mais span:first-child {
    position: relative;
    transition: color 100ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
}

.btn-saiba-mais span:last-child {
    color: white;
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 200ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    top: 50%;
    left: 50%;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 15px;
}

.btn-saiba-mais:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--gradient);
    transform-origin: bottom center;
    transition: transform 300ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.btn-saiba-mais:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.btn-saiba-mais:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 300ms cubic-bezier(0.48, 0, 0.12, 1);
}

.custom-selector {
    z-index: 99;
    width: 100%;
    bottom: 50px;
    max-height: 100%;
    gap: 20px;
    min-height: 0 !important;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-selector .dot {
    cursor: pointer;
    transition: all 0.3s ease;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.5);
    border: none;
    padding: 0;
}

.dot.active,
.dot.activeN,
.dot.activeD {
    background-color: #fff;
    transform: scale(1.2);
}

.custom-selector .dot:hover {
    background-color: rgba(255, 255, 255, 0.8);
    transform: scale(1.1);
}

.titulo {
    display: flex;
    align-self: flex-start;
    padding-top: 4rem;
    padding-left: 8rem;
    font-size: 3.5rem;
    color: var(--text-color);
    cursor: pointer;
    text-transform: capitalize;
}

.carousel-nav button {
    border: none;
}

.carousel-navigation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    gap: 50px;

    i {
        color: #838282;
    }

    i:hover {
        color: #262525;
    }
}

.slim-icon {
    -webkit-text-stroke: 2px var(--bg-body);
    color: black;
}


.carousel-navigation .arrow {
    background: none;
    border: 1px solid var(--light-gray);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.carousel-navigation .arrow:hover {
    background-color: #eee;
}

.carousel-navigation .dots {
    display: flex;
    gap: 8px;
}

.carousel-navigation .dot {
    width: 10px;
    height: 10px;
    background-color: #ccc;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 0.3s;
    border: none;
}

.carousel-navigation .dot.active {
    background-color: #888;
}

.destaque-section,
.projectos-section {
    flex-direction: column;
    position: relative;
    padding: 2rem 0;
    width: 100%;
    height: 100vh;
    margin-top: 0rem;

}

.destaque-section,
.carousel-container {
    overflow: visible;
    flex-direction: column;

}

.carousel-content,
.carousel-container-noticias,
.carousel-container-project {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px;
    overflow-x: auto;
    overflow-y: hidden;
    width: 100%;
    max-width: 100%;
    margin: 0 auto;
    gap: 40px;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    -ms-overflow-style: none;
    position: relative;
    cursor: grab;
}

.carousel-container::-webkit-scrollbar {
    display: none;
}

.destaque-section .card,
.card-project {
    position: relative;
    width: 380px;
    height: 380px;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 0 15px 0px rgba(0, 0, 0, 0.2);
    flex-shrink: 0;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: auto;
    margin: 0 10px;
    opacity: 1;
    transition: opacity 1s ease, transform 1s ease;
}

.card-project.active {
    width: 400px;
    margin: 2px;
}

.destaque-section .card.active {
    transform: scale(1.08) translateY(-1px);
    z-index: 2;
    pointer-events: auto;
    margin: 0 20px;
    border-radius: 50px !important;
}

.destaque-section .card.first-visible {
    border-top-left-radius: var(--border);
    border-bottom-left-radius: var(--border);
}

.destaque-section .card.last-visible {
    border-top-right-radius: var(--border);
    border-bottom-right-radius: var(--border);
}

.card-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    color: var(--white);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.card-overlay h3 {
    margin: 0 0 10px 0;
    font-size: 1.7rem;
    font-weight: bold;
    text-transform: capitalize;
}

.card-overlay .btn,
.card-project-overlay .btn {
    position: relative;
    overflow: hidden;
    color: var(--text-color);
    border-radius: 50px;
    border: none;
    box-shadow: 0px 6px 24px 0px rgba(0, 0, 0, 0.2);
    display: inline-block;
    max-width: 260px;
    font-size: 18px;
    line-height: 15px;
    padding: 18px 18px;
    text-decoration: none;
    cursor: pointer;
    background: transparent;
    -webkit-user-select: none;
    user-select: none;
    touch-action: manipulation;
}

#secta-polis:hover {
    transform: translateX(5px);
}

.card-overlay .btn span:first-child,
.card-project-overlay .btn span:first-child {
    position: relative;
    transition: color 100ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 10;
    opacity: 0.6;

}

.card-overlay .btn span:last-child,
.card-project-overlay .btn span:last-child {
    display: block;
    position: absolute;
    bottom: 0;
    transition: all 200ms cubic-bezier(0.48, 0, 0.12, 1);
    z-index: 100;
    opacity: 0;
    width: 100%;
    top: 50%;
    left: 50%;
    background: transparent;
    transform: translateY(225%) translateX(-50%);
    height: 14px;
    line-height: 15px;
}

.card-overlay .btn:after,
.card-project-overlay .btn:after {
    content: "";
    position: absolute;
    bottom: -50%;
    left: 0;
    width: 100%;
    height: 100%;
    background: transparent;
    transform-origin: bottom center;
    transition: transform 200ms cubic-bezier(0.48, 0, 0.12, 1);
    transform: skewY(9.3deg) scaleY(0);
    z-index: 50;
}

.card-overlay .btn:hover:after,
.card-project-overlay .btn:hover:after {
    transform-origin: bottom center;
    transform: skewY(9.3deg) scaleY(2);
}

.card-overlay .btn:hover span:last-child,
.card-project-overlay .btn:hover span:last-child {
    transform: translateX(-50%) translateY(-50%);
    opacity: 1;
    transition: all 100ms cubic-bezier(0.48, 0, 0.12, 1);
}

.sobre-section {
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding: 2rem 0;
    position: relative;
    flex-direction: column;
    margin-top: 3rem;

    .header-text {
        align-self: flex-start;
    }

    .content-block {
        display: flex;
        flex-direction: column;
        gap: 1px;
        cursor: pointer;
        color: var(--text-color2);


        p strong {
            color: var(--text-color3);
        }

        p strong:hover {
            color: var(--text-color);
        }
    }

    .content-block::after {
        content: '';
        position: absolute;
        top: 170px;
        right: -300px;
        width: 100%;
        height: 470px;
        border-top-left-radius: 440px;
        border-bottom-left-radius: 440px;
        opacity: 1;
        z-index: 1;
        border: 1px solid var(--text-color);
    }

    .text-top {
        width: 75%;
        bottom: -50px;
        right: -170px;
        padding: 20px 40px;
        position: relative;
        align-self: center;
        z-index: 10;
        flex: 1;
        border-top-left-radius: 100px;
        border-bottom-left-radius: 100px;
        text-align: justify;
        background: linear-gradient(to right, var(--bg-body), transparent);
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        font-size: 20px;
        font-weight: 300;
        line-height: 1.5;
    }

    .text-bottom {
        width: 100%;
        padding: 50px;
        padding-left: 8rem;
        position: relative;
        align-self: center;
        z-index: 10;
        flex: 1;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 300;
        text-align: justify;
    }

    .image-container {
        flex-shrink: 0;
        width: 90%;
        height: 380px;
        background-color: #ddd;
        overflow: hidden;
        position: relative;
        border-top-right-radius: var(--border3);
        border-bottom-right-radius: var(--border3);
    }

    .image-container img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        display: block;
    }

    .content-top,
    .content-bottom {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
}



.sobre-container {
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding-top: 2rem;
    margin-top: 4rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    & svg {
        width: 500px;
        height: 550px;
    }

    text {
        fill: #333;
        text-anchor: middle;
        dominant-baseline: middle;
    }

    #infoPercent {
        font-size: 0.4em;
        font-weight: bold;
    }

    #infoDesc {
        font-size: 0.3em;
        fill: #555;
    }

    path {
        transition: stroke-width 0.5s, stroke 0.5s, filter 0.3s;
    }
}

.empresa-section {
    position: relative;
    background: var(--gradient-gray);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding: 5rem 0;
    margin-top: 100px;
    height: 80vh;
    flex-direction: column;
}

.wrapper {
    overflow: hidden;
    position: relative;
    width: 100%;
    padding: 4rem 0;
}

.marquee,
.marquee--reverse {
    display: flex;
    white-space: nowrap;
    will-change: transform;
    gap: 4rem;
    margin: 4rem 0;
}

.marquee__group {
    display: flex;
    gap: 4rem;
}

.icon-empresa {
    height: 60px;
    width: auto;
    display: block;
}

.icon-empresa img {
    height: 60px;
    width: auto;
    display: block;
}

.icon-empresa:hover {
    filter: grayscale(0%);
}

.conteiner-Principal {
    width: 100%;
    position: relative;
}

.card-section {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: sticky;
    top: 0;
}

.tituloA {
    position: absolute;
    top: 80px;
    left: 0;
    padding-left: 8rem;
    font-size: 3.5rem;
    color: var(--text-color);
    text-transform: capitalize;
    width: 100%;
    z-index: 10;
}

.reveal-next {
    background-color: transparent;
    box-shadow: none;
    z-index: -1;
    height: 90vh;
}
.reveal-next-mobile {
    display: none;
    height: 80vh;
}

.horizontal-scroll-wrapper {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.horizontal-scroll {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: end;
    justify-content: center;

}

#image-track {
    display: flex;
    align-items: center;
    gap: 10vmin;
    transform: translateX(50%);
    height: 80vh;
    width: 100%;
    bottom: 0;
}

.item {
    position: relative;
    width: 45vmin;
    height: 60vmin;
    text-align: center;
    background-color: transparent;
    border-radius: 50px;
    transition: 0.5s;
    cursor: pointer;
    object-position: center center;
    transition: transform 0.3s ease;

    & .card-overlay {
        position: absolute;
        height: 100%;
        border-radius: 50px;
        bottom: 0;
        left: 0;
        width: 100%;
        padding: 30px;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
        color: var(--white);
    }
}

.image {
    width: 45vmin;
    height: 60vmin;
    border-radius: 50px;
    object-fit: cover;
    transition: transform 0.8s ease, filter 0.8s ease;
}

.item:hover .image {
    transform: scale(1.01);
    filter: brightness(1.01);
}

.item h3 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--white);
    font-size: 25px;
    font-weight: 500;
    margin: 0;
}

.projectos-section {
    background-color: var(--bg-body);
    box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.10);
    border-radius: var(--border2);
    height: 100vh;
    position: relative;
    cursor: pointer;
    flex-direction: column;
    max-width: 100%;
    z-index: 2;
}

.projectos-section .carousel-container-project {
    cursor: pointer;
}

.card-project-overlay,
.card-blog section {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: auto;
    max-height: 50%;
    padding: 20px;
    border-radius: 50px;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.2));
    backdrop-filter: blur(10px);
    color: var(--white);
    box-sizing: border-box;
}

.card-project-overlay h3 {
    margin: 10px 0 0 0;
    font-size: 25px;
    font-weight: 400;
}

.polis-section,
.noticias-section {
    width: 100%;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    margin-bottom: 20px;
    background-color: var(--bg-body);
}

video {
    height: 100%;
    width: 100%;
    position: absolute;
    object-fit: cover;
}

.logo-polis {
    display: flex;
    max-width: auto;
    height: 120px;
    border-radius: 50px;
    padding: 10px;

    .logoP {
        height: 100%;
        width: 100%;
    }
}

.text-polis {
    max-width: 700px;
    position: relative;
}

.polis-section {
    position: sticky;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
    margin-top: -120px;
    bottom: 0;
    z-index: 1;

    .card-overlay {
        position: absolute;
        left: 0;
        height: 100%;
        width: 100%;
        padding: 10rem 8rem;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2));
        color: var(--white);
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        border-radius: 0;
    }

    .card-overlay h3 {
        margin: 0 0 10px 0;
        font-size: 20px;
        line-height: 1.5;
        font-weight: 500;
        text-align: justify;
    }

    .card-overlay .btn {
        display: inline-block;
        padding: 5px 15px;
        background-color: var(--white);
        border: 1px solid transparent;
        color: var(--text-color3);
        text-decoration: none;
        border-radius: 50px;
        font-size: 22px;
        transition: background-color 0.3s, color 0.3s;
        position: absolute;
        right: 0;
        bottom: 0;
        opacity: 0.8;
    }

    .card-overlay .btn:hover {
        background-color: var(--white);
        color: #333;
        opacity: 1;
    }

    .card-overlay .btn:hover #secta-polis {
        transform: translateX(5px);
        transition: all .5s ease;
    }

}

.noticias-section {
    margin-top: -120px;
    height: auto;
    background-color: var(--bg-body);
    border-top-left-radius: var(--border2);
    border-top-right-radius: var(--border2);
    padding-top: 2rem;
    padding-bottom: 2rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    transition: .3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
    padding: 10px;
}

.carousel-container-noticias {
    position: relative;
    width: 100%;
    height: 550px;
    display: flex;
    flex-wrap: wrap;
    gap: 60px;
    justify-content: center;
    padding-top: 2rem;
    cursor: pointer;
}

.card-blog {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex-shrink: 0;
    z-index: 1;
    opacity: 1;
    width: 380px;
    height: 480px;
    background-color: var(--bg-nav);
    transition: all ease-in-out .5s;
    border-radius: 50px;
}

.card-blog:hover {
    transform: translateY(-10px);
}

.card-blog img {
    position: absolute;
    border-radius: 50px;
}

.card-blog section {
    justify-content: space-evenly;
    padding: 20px;

    & a {
        display: flex;
        padding: 8px 15px;
        background-color: transparent;
        border: 1px solid transparent;
        color: var(--text-color);
        text-decoration: none;
        border-radius: 20px;
        font-size: 1.2rem;
        transition: background-color 0.3s, color 0.3s;
        align-self: flex-end;
        text-transform: lowercase;
        cursor: pointer;
    }

    a:hover {
        color: var(--text-color-black);
    }

}

.card-blog section h4 {
    text-align: start;
    align-self: start;
    height: auto;
    width: 100%;
    left: 0;
    top: 0;
    font-weight: 400;
    font-size: 20px;
    max-height: 120px;
    overflow-y: hidden;
    color: var(--white);
}

.card-blog section span {
    color: var(--white);
    font-size: 1.2rem;
    font-weight: 200;
    align-self: flex-start;
}

.contactos-section {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
    border-radius: 20px;
    padding: 5rem;
    overflow: hidden;
    transition: all 0.5s ease;

}

.contact-info {
    flex: 1;
    background: linear-gradient(to top, var(--text-color), var(--text-color-black));
    color: var(--white);
    padding: 2rem;
    border-radius: var(--border2);
    max-height: 800px;
}

.contact-info h2 {
    font-size: 3rem;
    margin: 40px 0;
    font-weight: 400;
    color: var(--white);
}

.contact-info p {
    margin: 25px 0;
    font-size: 1.5rem;
    font-weight: 300;
}

.contact-info i {
    margin-right: 10px;
}

.social h3 {
    margin-top: 30px;
    font-size: 1.7rem;
    line-height: 50px;
}

.social {
    padding: 40px 0;
}

.social a {
    display: inline-block;
    margin: 10px 10px 0 0;
    font-size: 2rem;
    color: var(--white);
}

.contact-form {
    flex: 1;
    padding: 2rem;
    border-radius: 3rem;
}

.contact-form h2 {
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: 400;
    color: var(--light-gray);
}

.contact-form form {
    display: flex;
    flex-direction: column;
    transition: all 0.5s ease;
}

.contact-form input,
.contact-form textarea {
    margin-bottom: 15px;
    padding: 10px 15px;
    border: 1px solid transparent;
    border-radius: 10px;
    background: #eee;
    font-size: 1.1rem;
    font-weight: 300;
    outline: none;
    transition: all .5s;
}

.contact-form .empresa {
    display: none;
    transition: all 0.5s ease;

}

.contact-form .empresa.active {
    display: flex;
}

.contact-form input:focus,
.contact-form textarea:focus {
    border: 1px solid var(--text-color);
}

.contact-form textarea {
    min-height: 250px;
    min-width: 580px;
    resize: none;
}

.options {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    transition: all 0.5s ease;
}

.options button {
    flex: 1;
    padding: 12px;
    border: none;
    border-radius: var(--border2);
    background: #ccc;
    font-size: 20px;
    color: var(--text-color3);
    font-weight: 300;
    cursor: pointer;
}

.options .active {
    background: var(--gradient);
    color: var(--white);
}

.submit-btn {
    padding: 14px;
    border: none;
    border-radius: var(--border2);
    background: var(--gradient);
    color: var(--white);
    font-size: 20px;
    font-weight: 300;
    cursor: pointer;
}


.contactos-section .logo-contact {
    width: 45%;
}

footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 400px;
    background: var(--gradient);

    .bottom {
        color: var(--white);
        padding: 40px 20px 20px 20px;

        .footer-top {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            gap: 0px;
            margin-bottom: 30px;
            margin-left: 10px;

        }



        .footer-column {
            flex: 1 1 200px;
            display: flex;
            flex-direction: column;
            align-items: start;
            padding-left: 4rem;

        }

        .coluna-dupla {
            display: grid;
            grid-template-columns: repeat(2, minmax(200px, 1fr));
            column-gap: 30px;
        }

        .coluna-dupla li {
            margin-bottom: 8px;
        }

        .logo-footer {
            max-width: 200px;
            height: auto;
            object-fit: contain;
            margin-bottom: 10px;
            margin-left: 30px;

        }

        .footer-column h4 {
            width: 100%;
            margin-bottom: 10px;
            font-size: 24px;

            & small {
                font-size: 1.3rem;
                font-weight: 500;
                text-transform: uppercase;
            }

            strong {
                font-size: 24px;
                text-transform: uppercase;
            }
        }

        .footer-column ul {
            list-style: none;
            padding: 0;
        }

        .footer-column ul li {
            margin-bottom: 10px;
            font-size: 15px;
            font-weight: 300;
        }


        .footer-column a {
            color: var(--white);
            text-decoration: none;
            transition: opacity 0.3s;
        }

        .footer-column a:hover {
            opacity: 0.7;
        }

        .social-icons {
            padding: 10px 0;

            a {
                font-size: 1.8rem;
                margin-right: 10px;
                color: var(--white);
            }
        }

        .footer-logos {
            overflow: hidden;
            width: 100%;
            padding: 20px 0;
            border-bottom: 1px solid var(--bg-body);
        }

        .marquee-F {
            display: flex;
            overflow: hidden;
            user-select: none;
            gap: var(--gap);
            mask-image: linear-gradient(var(--mask-direction, to right),
                    hsl(0 0% 0% / 0),
                    hsl(0 0% 0% / 1) 20%,
                    hsl(0 0% 0% / 1) 80%,
                    hsl(0 0% 0% / 0));
        }

        .marquee__group {
            flex-shrink: 0;
            display: flex;
            align-items: center;
            justify-content: space-around;
            gap: var(--gap);
            min-width: 100%;
            animation: scroll-x var(--duration) linear infinite;

        }

        @media (prefers-reduced-motion: reduce) {
            .marquee__group {
                animation-play-state: paused;
            }
        }

        .marquee--vertical {
            --mask-direction: to bottom;
        }

        .marquee--vertical,
        .marquee--vertical .marquee__group {
            flex-direction: column;
        }

        .marquee--vertical .marquee__group {
            animation-name: scroll-y;
        }

        .marquee--reverse .marquee__group {
            animation-direction: reverse;
            animation-delay: -3s;
        }

        .icon-empresa img {
            object-fit: contain;
        }

        .marquee .icon-empresa {
            display: block;
            place-items: center;
            width: 180px;
            height: 100px;
            padding: 10px;
            border: none
        }

        .marquee--vertical .icon-empresa {
            aspect-ratio: 1;
            width: calc(var(--size) / 1.5);
            padding: calc(var(--size) / 6);
        }


        .wrapper {
            display: flex;
            flex-direction: column;
            gap: var(--gap);
            margin: auto;
            max-width: 100vw;
        }

        .footer-logos img {
            height: 42px;
            width: 100px;
            object-fit: contain;
        }

        .footer-bottom {
            text-align: center;
            font-size: 1rem;
            font-weight: 200;
            margin-top: 10px;
            padding: 20px 0;
            color: var(--white);

        }

    }

}

@keyframes fade {
    to {
        opacity: 0;
        visibility: hidden;
    }
}

@keyframes scroll-x {
    from {
        transform: translateX(var(--scroll-start));
    }

    to {
        transform: translateX(var(--scroll-end));
    }
}


#chatbot-widget {
    position: fixed;
    bottom: 52px;
    right: 15px;
    width: 380px;
    max-width: 95vw;
    background: #fff;
    border-radius: 18px 18px 8px 8px;
    border: none;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.18), 0 1.5px 8px rgba(242, 169, 0, 0.08);
    font-family: 'Roboto', Arial, sans-serif;
    overflow: hidden;
    transition: all 0.35s cubic-bezier(.23, 1.02, .32, 1);
    opacity: 1;
    z-index: 10;
    transform: translateY(40px) scale(0.95);
    animation: chatbotIn 0.7s cubic-bezier(.23, 1.02, .32, 1) 0.2s forwards;

}

#chatbot-widget.minimized {
    width: 50px !important;
    height: 50px !important;
    min-width: 50px !important;
    min-height: 50px !important;
    max-width: 50px !important;
    max-height: 50px !important;
    border-radius: 50% !important;
    background: linear-gradient(135deg, #f2a900 60%, #b52e0f 100%);
    box-shadow: 0 4px 24px rgba(0, 0, 0, 0.18);
    padding: 1;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 10;

}

#chatbot-widget.minimized #chatbot-header,
#chatbot-widget.minimized #chatbot-body,
#chatbot-widget.minimized #chatbot-whatsapp {
    display: none !important;
}

#chatbot-widget.minimized::after {
    content: '';
    display: block;
    width: 44px;
    height: 44px;
    margin: auto;
    background: url('assets/logo/Grupo-Unione_Logo.png') no-repeat center center/contain;
    border-radius: 50%;
    box-shadow: 0 1px 6px #0002;
}

#chatbot-widget:not(.minimized) #chatbot-header,
#chatbot-widget:not(.minimized) #chatbot-body,
#chatbot-widget:not(.minimized) #chatbot-whatsapp {
    display: block;
}

#chatbot-header {
    background: var(--text-color);
    color: #fff;
    padding: 12px 16px;
    font-weight: bold;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#chatbot-body {
    display: flex;
    flex-direction: column;
    height: 320px;
    padding: 12px;
    background: #fafafa;
}

#chatbot-messages {
    height: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1;
    overflow-y: auto;
    margin-bottom: 8px;
    font-size: 14px;
}

#chatbot-input {
    position: absolute;
    left: 5px;
    bottom: 13px;
    width: 70%;
    padding: 8px;
    border: 1px solid #eee;
    border-radius: 50px;
    margin-right: 4px;
    outline: none;
}

#chatbot-send {
    width: 25%;
    padding: 8px;
    background: var(--text-color);
    color: #fff;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    position: absolute;
    right: 5px;
    bottom: 13px;
}

#chatbot-widget.minimized #chatbot-body {
    display: none;
}

.chatbot-msg-bot,
.chatbot-msg-user {
    position: relative;
    padding: 10px 15px;
    border-radius: 20px;
    color: var(--white);
    font-weight: 400;
    max-width: 240px;
}


.chatbot-msg-bot {
    background-color: var(--light-gray);
    text-align: left;
}

.chatbot-msg-user {
    text-align: left;
    background-color: var(--text-color);
}

.chatbot-msg-row {
    display: flex;
    align-items: center;
    align-self: self-start;
    margin-bottom: 8px;
    animation: fadeIn 0.3s;
}

.chatbot-msg-row-user {
    flex-direction: row-reverse;
    align-self: self-end;
}

.chatbot-avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 0 8px;
    background: #fff;
    object-fit: contain;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}